@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../lib/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../lib/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../lib/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../lib/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
body {
    background-color: black;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  font-family: 'Roboto Slab', serif;
}

.full-scroll{
 /* min-height:100vh;*/
 height: -o-calc(100vh - 141px); /* opera */
height: -webkit-calc(100vh - 141px); /* google, safari */
height: -moz-calc(100vh - 141px); /* firefox */




   overflow:auto;
}
.full-scroll-rest{
 /* min-height:100vh;*/
 height: -o-calc(100vh - 110px); /* opera */
height: -webkit-calc(100vh - 110px); /* google, safari */
height: -moz-calc(100vh - 110px); /* firefox */
background-color:black;
   overflow:auto;
}
/* Empty. Add your own CSS if you like */
.modal{
  top: 0 ;
  bottom: 0 ; 
  left: 0 ;
  right: 0 ;
  width: 100% ;
   height: 100% ;
}
.hero{
	
}
.trafic-image{
 background-image: url('../img/trafficsignal.png');
    height: 30px;
	width:30px;
	
	margin-left:2px;
	margin-top:12px;
   
}
.header-margin{
	margin-top:40px;
}
.root-hreader{
	margin-top:340px;
}
.social-login {
    position: fixed;
    bottom: 0;
}
.logingab {
    margin-top:100px;
    position: relative;
    text-align: center;
   
}

.transp{
  background:darkcyan;
  color:white;
  border:  0px;
}
.cardiagnosticheader{
    background-image: url('../img/etong_mycar_tianjilan.png');
    height: 55px;
    
    margin:0px;
}
.backgroundtab{
    
    background-image: url('../img/appimages/etong_maintab_toolbar_bg.png');
    background-repeat: repeat-x;
    height: 50px;
	border:0px;
   
    
}
.top-tab{
	color:white;
	background-color:black;
}
.score{
    color:#09C5F4;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    padding-top:15px;
    margin:0px;
    text-align: left;
}
.score-right{
    color:#09C5F4;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    padding-top:0px;
    margin:0px;
    text-align: right;
}
.scorecircleimg{
 background-image: url('../img/etong_mycar_fenshubg.png');
  background-repeat: no-repeat;
  height: 50px;
    background-position: center; 
 margin-top:-2px;
}
.scorecircleimgtext{
padding-top:10px;
color:white;
text-align:center;
}
.rightimage{
 background-image: url('../img/etong_mycar_tijianbg2.png');
  background-repeat: no-repeat;
  
   background-repeat: no-repeat;
    background-size: 55% 50px;
     height: 90%;
	 margin-top:4px;
  text-align: right;
    background-position: right; 

}
.image-retry{
 background-image: url('../img/appimages/etong_callbutton.png');
  background-repeat: no-repeat;

   background-repeat: no-repeat;
    background-size: 80% 35px;
     height: 100%;
  text-align: center;
  vertical-align:center;
    background-position: center; 

}
.text-text{
	color:white;
	padding-top:5px;

}
.rightimagetext{
    text-align: right;
    margin-top:5px;
    padding-right: 5px;
	
    color:white;
   font-size: 15px;
   
}
.alert-messages-img
{
	height:30px;
	
}
.left-image-text{
    text-align: left;
    margin-top:-3px;
    padding-right: 5px;
	color:white;
    font-size: 15px;
font-weight:normal;
}

.radialtop{
    height: 30px;
    
}
.radialtopcenterimage{
 background-image: url('../img/appimages/etong_mycar_zonglichengbg.png');
  background-repeat: no-repeat;
  height: 30px;
  margin-top:5px;
    background-position: center; 
 
}
.radialcentertext{
      color:white;/*#09C5F4;*/
    height: 50px;
    font-size: 17px;
    text-align:center;

    margin:0px;
}
.location-header{
    background-image: url('../img/etong_mycar_locatonweibg.png');
    height:80px;
	border:0px;
    
    margin:0px;
	margin-top:-10px;
}
.location-text{
    color:#09C5F4;
  
    font-size: 15px;
    font-weight: bold;

    margin-top:-15px;
}
.location-text-name{
	color:white;
}
.wrapping-list  {
	 font-size: 12px;
    overflow: initial;
    white-space: initial;
	color:white;
}
.location-start-image{
width: 5px;
height: 5px;
}
.tabimg{
    height: 30px;
} 

.tab-my-car {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-image: url('../img/appimages/etong_my_carlv.png');
}
.dashboadlistheading{
  
  color: white;
    font-size: 16px;
    

    margin:0px;
}
.edit-cancel-button{
	margin-top:-5px;
	
}
.edit-cam-button{
	
}
.dashboad-reading{
    color:#57C74A;
     font-size: 16px;
    font-weight: bold;
}
.reading-unit{
    font-size: 16px;
	text-align:left;
    color: white;
}
.root-reading-unit{
	 font-size: 16px;
	text-align:right;
    color: white;
}
  #gauge-container {
            margin: 0 auto;
            overflow: hidden;
            width: 350px;
            height: 200px;
        
            background: transparent url("../img/car-dashboard.png") no-repeat 50% 50%;
        }

        .k-gauge {
            float: left;
        }

        #rpm {
            width: 100px;
            height: 105px;
            margin: 40px 0 0 4px;
        }

        #kmh {
            width: 150px;
            height: 150px;
            margin: 20px 0 0 -4px;
        }

        #fuel {
            width: 55px;
            height: 55px;

            margin: 42px 0 0 25px;
        }

        #water-temprature {
            width: 55px;
            height: 55px;

            margin: 0px 0 0 25px;
        }


  .my-list{
      background: #4E4F51;
      border-color : #343537;
  }

.girdback{
  
  background-image: url('../img/appimages/etong_travel_sikuan_bg.9.png');
     background-repeat: no-repeat;
     background-size: 100% 180px;
     height: 180px;
  
}
.listoutlines{
     background-image: url('../img/appimages/etong_travel_kuang_zhijiao_1.9.png');
     background-repeat: no-repeat;
     background-size: 100% 100px;
     height: 100%;
    
}
.girdbacksub{
  background: #4f5152;
 
}
.girdbacksub-list{
    background: #4D5150;
    margin-left:5px;
	margin-right:5px;
	border-color:#343537;
	color:white
    

    
}
.standard-border{
	
	
	
	margin-left:5px;
	margin-right:5px;
	
}
.form-item-input,{

	background: #4D5150;
  
	border-color:#343537;
	
}

.item-input{
	background: #4D5150;border-color:#343537;
}
.switch-style{
	background: #4D5150;
   color:white;
	border-color:#343537;
}
.listpadding{
	border:0px;
	margin-left:5px;
	margin-right:5px;
}
.input-label {
	color:white;
}
input, select, textarea{
    color: white;
}

textarea:focus, input:focus {
    color: white;
}
.submit-button{
	background-color: #5AC219;
	color:white;
	font-size:18px;
	
}
.Trip-button{
	background-color: gray;
	color:white;
	font-size:18px;
	
}
.item-divider{
	color:white;
	background-color:black;
	border:0px;
	
}

.truck-list{
	 border-color:  #343537; 
	    background: #4E4F51;
	
	border-style: solid;
    

    
}

.dashboadlisttext{
    color: white;

    font-size: 15px;


}
.gridline{

    border-color:  #343537; 
}
.trip-first-row{
height:90px;
padding:1px;
margin:0px;
}
.trip-second-row{
	
	
}
.trip-images{
    width: 45px;
    margin-top:15px
	
}
.trip-text{
    color: white;
	font-size:12px;
  
   
}

.trip-heading{	
    color: #EC7321;

}
.trip-heading-mileage{
  
color: #8dca53;

}
 .trip-heading-no{
    color: #46bbf1;

}
  .trip-heading-fule{
      color: #efc32c;

}

.trip-image{
	width:40px;
	heigh:40px;
}
.mygrid{
	padding:0px;
	margin:0px;
}
.trip-detail-image{
	width:30px;
	heigh:30px;
}
.trip-time{
	color:#77E920;
}
.trip-time2{
	color:white;
	vertical-align:center;
	vertical-align:center;
	padding:5px;
	margin-left:20px;
	text-align:left;
}
.trip-data-headerback{
	 background-image: url('../img/appimages/etong_examination_checktop.png');
    height: 75px;
   border:0px;
   margin:0px;
}
.trip-data-centerimage{
	 background-image: url('../img/etong_driverdata_car.png');
  background-repeat: no-repeat;
	width:100%;
	height:100%;
	margin-top:10px;
 
}
.trip-data-headerTime-Text{
	color:#EFC30F;
}
.trip-data-headerTime-Date{
	color:white;
}
.right-align{
	text-align: right;
}
.trip-data-list{
	 background-image: url('../img/appimages/etong_travel_kuang_zhijiao_1.9.png');
	
}
.trip-data-header{
background-color: #5AC219;
    height:45px;
    padding:5px;
	border-color:#5AC219;
}
.trip-driving{
	margin-left:35px;
}
.trip-data-header{
background-color: #5AC219;
    height:45px;
    padding:5px;
}

.trip-data-Driver-habbit{
background-color: #FD8E22;
    height:45px;
    padding:5px;
}
.trip-data-image-loc{
	width:18px;	
	vertical-align:center;
}
.trip-data-location-text{
	color:white;
	font-size:18px;
	vertical-align:center;
	padding-top:5px;
}
.trip-list{
	
    background: #4E4F51;
    heigh:20px;
	border-color : #343537;
  
}
.trip-readings{
    font-size: 14px;
    color: white;
	
}

.box-orange{
 

     width: 100%;
     height: 110%;

}

.truck-img{	
	width:65px;
	heigh:65px
}
.active-flag{
	color:#22F10C;

	
	font-size:20px;
}
.inactive-flag{
	color:red;

	
	font-size:20px;
}
.edit-cancel-icon{
		margin-top:10px;
		font-size:20px;

}


.inactive-flag{
	color:red;
}
.signupbutton{
	background-color: transparent;
	/*margin:10px 10px 1px 1px;*/
	text-align:right;	
	color:yellow;
	
/*	border-color:white;
	 border-style: solid;
    border-width: 1px;
*/
	
	
}
.signupbutton{
	background-color: transparent;
	
	text-align:center;	
	color:white;
	padding:5px;
	font-size:20px;
border-radius: 5px;
	
	
}
.languageDropdown{
	color:white;
	height:55px;
	width:100px;
	
	
}
.login-button{
	background-color: #FFC000;
	margin:10px 10px 1px 1px;
	text-align:center;	
	border-radius:10px;
	
	/*color:white;
	border-color:white;
	 border-style: solid;
    border-width: 3px;
	padding:5px;
	
	*/
	font-size:25px;
	
}
.heor2{
	  background-size: cover;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  color: #fff;
  height: 200px;
  position: relative;
  text-align: center;
  -webkit-transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%; 
}
.hero2.no-header {
  height: 200px; }

  .login-items {
	
  position: absolute;
   
   
    width: 100%;
	
}
.app-icon {
    
    background: url('../img/crown.png') center;
 
    height: 150px;
    margin: 0 auto;
	margin-top:10px;
      border-radius: 50%;
	  background-size:150px 150px;
    width: 150px;
}
.app-icon-withtext {
    
    background: url('../img/logowithimg.png') center;
 
    height: 180px;
    margin: 0 auto;
	margin-top:10px;
     /* border-radius: 50%;*/
	  background-size:150px 180px;
    width: 150px;
}
.appheader{
	
    font-size: 40px;
	color:white;
	font-size:bold;
	text-align:center;
	margin-top:20px;
	
    
}
 .login-Page-Img {
	 /*no-repeat center center fixed; */
        background: url('../img/loginpageback.jpg') top right no-repeat; background-attachment:fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
		
    }
.transparent-list{
	background-color: transparent;
	border-color:white;

	 border-width: 0px 0px 1px 0px;
}
.transparent-list{
	background-color: transparent;
	border-color:white;
	margin:10px;
	 border-width: 0px 0px 1px 0px;
}
  
  .item-avatar,
.item-avatar .item-content,
.item-avatar-left,
.item-avatar-left .item-content {
   padding-left: 50px;
  min-height: 40px; }
  .item-avatar > img:first-child,
  .item-avatar .item-image,
  .item-avatar .item-content > img:first-child,
  .item-avatar .item-content .item-image,
  .item-avatar-left > img:first-child,
  .item-avatar-left .item-image,
  .item-avatar-left .item-content > img:first-child,
  .item-avatar-left .item-content .item-image {
  border-radius: 50%;
  left: 10px;
 
  max-height: 30px;
  max-width: 30px; }

 .health-grid{
	 color:white;

	 border:gray 0.5px solid;
	 
 } 
.login {
    background: url(../img/login2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 246px;
    margin: auto;
    z-index: 2;
    position: relative;
}
 .myimg-Style{
	 background-size: 80% 35px;	
	 width:200px;
	
	 position:center;
     height: 200px;
	 border-radius:50px;
	
 } 
 .img-right-side{
	 text-align:center;
 }
.lock-icon{
	color:white;
	
}
.scan-button{
	 background-color: #EC7321;
	 color:white;
	 margin-left:-45px;
	 width:40px;
	 
}
.scan-button-add{
background-color: #EC7321;
	
	text-align:center;	
	width:97%;
	font-size:16px;
	color:white;
	border-color: #EC7321;
	
	
}
.star-color{
		 color: #EC7321;
}
.about-us-text{
	color:white;
	text-align:center;
	padding-top:10px;
	font-size:16px;
	margin-left:20px;
	margin-right:20px;
}
.about-us-version{
	color:yellow;
	padding-top:10px;
	text-align:center;
	font-size:15px;
}
.feedback-heading{
	color:white;
	font-size:15px;
	margin-top:20px;
	margin-bottom:30px;
}
.input-label{
	width:150px;
}
#textarea {
    width: 100vw;
    height: 200px;
}
.licienc-heading{
	background-color: #FFC000;
	padding:5px;
	color:black;
	font-size:14px;
	
}
.licence-heading2{
	color:white;
	height:40px;
}
.charges-heading{
	font-size:18;
	font-weight:bold;
	margin-left:20px;
	margin-top:12px;
}
.licence-heading3{
	background-color: #FFC000;
}
.licence-heading4{
	color:white;
	padding:5px;
}
.licence-trail{
	color:yellow;
	padding:5px;
	font-size:9px;
}
.licence-button{
	background-color: #FFC000;
}
.plan-dropdown{
	 background: #4D5150;
	width:!00%;

	
	
}
.faultcode-dropdown{
	background-color: transparent;
	color:red;
	width:!00%;
	border:0px;

	
	
}
.filter-back{
	background-color:#4D5150;
}
.filter-dropdown{
	 color:white;
	 background:#4D5150;
	border-color:black;
	 height:30px;
}

.deviceCheck{
	background-color:transparent;
	border:0px;
margin:0px;
margin-left:-15px;
text-align:left;
}
.title-heading{
font-size:18px;
margin-top:7px;
margin-left:10px;

}
.uneditData{
	color:white;
	font-size:14px;
}
.payment-grid{
		font-size:10px;
}
.notification-badge{
	color:white;
	 border-radius: 40%;
	 width:40px;
	 margin-top:-2px;
	 text-align:center;
	 padding:0px;
	 height:23px;
	 
	background-color:red;
}
.ion-edit{
	margin-top:-5px;
}
.save-password{
	font-size:14px;	color:yellow;text-align:left
}
.f-code{
	color:red;
}
.ignition-on-off{
	height:15px;
	margin-left:3px;
	}
	.battery-per{
		color:white;
		margin-left:5px;
		font-size:10px;
		
	}
.map-show-button{
	margin-left:10px;
	margin-top:5px;
}

.custom-marker {
  margin-left:-5px;
  margin-top:-5px;


}
.avatar {
    
  width:40px;
  height:40px;
    margin-right: 0.5em;
    position: relative;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;


}
.avatar-driver{
	  width:40px;
  height:40px;
    margin-right: 0.5em;
    

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}
.device-name-info-window{
	font-size:25px;
	font-weight: bold;

}
.aboutus-margin{
	margin-top:50px;
	padding-bottom:20px;
}

.title-header{
    background-color:#444444;
    height: 55px;
	padding:5px;
    margin:0px;
	
	color:white;
	font-size:25px;
	padding-top:10px;
}
.material-icons.md-36 { font-size: 30px; cursor:pointer; }



::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: gray;
    border-radius: 4px;
  
}
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,.5);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,.75);
}
.noBorderScroll::-webkit-scrollbar{
      width:0px;
}
/*
.custom-marker:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px 6px 0;
  border-color: #fff transparent;
  display: block;
  width: 0;
  z-index: 0;
  margin-left: -6px;
  bottom: -6px;
  left: 50%;
}

.custom-marker:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px 6px 0;
  border-color: #7F7F7F transparent;
  display: block;
  width: 0;
  z-index: 0;
  margin-left: -6px;
  bottom: -7px;
  left: 50%;
}*/