<ion-modal-view  view-title="{{'About us'|translate}}"   style="background-color:black">
<ion-header-bar align-title="left" class="bar-dark">
  
	
   <h1 class="title">{{'About us'|translate}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAboutUsModal()">{{'Close'|translate}}</button>
    </div>
</ion-header-bar>
 <ion-content class="padding">
         <div class="about-us-text aboutus-margin">{{'Mobile App for GPS Enabled Devices'|translate}}</div>
       <div class="hero2 no-header flat">
            <div class="content">
			 <!--<div class="appheader">{{'Caronline.Guru'|translate}}</div>-->
                 <div class="app-icon-withtext"></div>
				 <br/>
                <!--<img src="img/logo22.png" width="300" height="200"/>-->

            
            </div>
        </div>
	 
	   <div class="about-us-text"></div>
 
	   <div class="about-us-text">{{'Complete control of the usage and condition of your vehicle'|translate}}</div>
       <div class="about-us-version">{{'Version'|translate}} 0.0.23</div>
         <div class="about-us-text">{{'www.caronline.guru'|translate}}</div>
      </ion-content>
</ion-modal-view >
