<ion-modal-view   style="background-color:black">
<ion-header-bar align-title="left" class="bar-dark">
  
	
   <h1 class="title">{{'Account Information'|translate}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="hideAccountInfo()">{{'Close'|translate}}</button>
    </div>
</ion-header-bar>
 <ion-content class="padding">
 
         
          <div class="list ">
    
            <label class="item item-input " >
              <span class="input-label">{{'Name'|translate}} :</span>
				<span ng-hide="isedit" class="uneditData">{{UserName}}</span> 
            </label>
            <label class="item item-input " >
              <span class="input-label">{{'Email'|translate}}:</span>
             <span ng-hide="isedit" class="uneditData">{{UerEmail}}</span> 
            </label>
            <!--  <label class="item item-input " >
              <span class="input-label">{{'Country'|translate}}:</span>
              <span ng-hide="isedit" class="uneditData"></span> 
            </label>
           <label class="item item-input " >
              <span class="input-label">{{'Package'|translate}}:</span>
              <span ng-hide="isedit" class="uneditData"></span> 
            </label>
             
			 <label class="item item-input " >
              <span class="input-label">{{'Exp_Date'|translate}}:</span>
              <span ng-hide="isedit" class="uneditData"></span> 
            </label>
	         -->
             
          </div> 
					
       
        
       
      </ion-content>
</ion-modal-view >
