<ion-modal-view style="background-color:black">
  <ion-header-bar align-title="left" class="bar-dark">


    <h1 class="title">{{'Add New Device'|translate}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="hideAddDevice()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">

    <form>

      <div class="list">

        <label class="item item-input">
          <span class="input-label">{{'DEVICE_NO'|translate}}.:
            <span class="star-color">*</span>
          </span>
          <input style="color:white" type="text" ng-model="registration.deviceNo" required>
        </label>
        <label class="item item-input">
          <button ng-click="scanBarcode()" class="scan-button-add">{{'Click to Scan Device'|translate}}</button>
        </label>
        <label class="item item-input">
          <span class="input-label">{{'Registration No'|translate}}.:
            <span class="star-color">*</span>
          </span>
          <input style="color:white" type="text" ng-model="registration.deviceName" required>
        </label>

      </div>

      <button class="button button-full submit-button" ng-click="SubmitAddNewDevice()">
        {{'SUBMIT'|translate}}
      </button>

    </form>

  </ion-content>
</ion-modal-view>