<ion-view view-title="{{selectedMessage.CategoryName}}" style="background-color:black" class="appbackColor">
    <ion-content >
        
<ion-list>



  <div  ng-repeat="mg in myAlertMessages" class="item   girdbacksub-list" >
   
    <div class=" dashboadlisttext wrapping-list"><b> {{mg.DeviceName}} </b><br/>{{mg.EventName}}  <br/>{{mg.GPSTime| date:'MMM dd yyyy hh:mm a'}}</div>

  
  </div>
 <!-- <div class="item   item-avatar girdbacksub-list" ng-click='ShowAlerts(1)'>
   <img src="img/appimages/etong_set_dingzhi.png">
    <div class=" dashboadlisttext">{{'Area alert'|translate}}</div>
   
  </div>

  <div class="item  item-avatar girdbacksub-list item-icon-right" ng-click='ShowAlerts(2)'>
   <img src="img/appimages/etong_set_dingzhi.png">
    <div class=" dashboadlisttext">{{'Behavior alerts'|translate}}</div>
   
  </div>
  <div class="item  item-avatar girdbacksub-list item-icon-right"ng-click='ShowAlerts(3)'>
 <img src="img/appimages/etong_set_dingzhi.png">
    <div class=" dashboadlisttext">{{'Management alerts'|translate}}</div>
    
  </div>
  -->

</ion-list>

    </ion-content>
    
 
     

</ion-view>