<ion-view view-title="{{'Notifications'|translate}}" style="background-color:black" class="appbackColor">
    <ion-content >
        
<ion-list>


<div  ng-repeat="alt in myAlertMessagesCount.categories" class="item   item-avatar girdbacksub-list" ng-click='ShowAlerts(alt)'>
   <img src="img/appimages/etong_set_dingzhi.png">
    <div class=" dashboadlisttext">{{alt.CategoryName}}</div>
     <span class="badge badge-assertive" ng-if="canShowAlertbedge(alt)>0">{{canShowAlertbedge(alt)}}</span>
  </div>

 <!-- <div class="item   item-avatar girdbacksub-list" ng-click='ShowAlerts(1)'>
   <img src="img/appimages/etong_set_dingzhi.png">
    <div class=" dashboadlisttext">{{'Area alert'|translate}}</div>
   
  </div>

  <div class="item  item-avatar girdbacksub-list item-icon-right" ng-click='ShowAlerts(2)'>
   <img src="img/appimages/etong_set_dingzhi.png">
    <div class=" dashboadlisttext">{{'Behavior alerts'|translate}}</div>
   
  </div>
  <div class="item  item-avatar girdbacksub-list item-icon-right"ng-click='ShowAlerts(3)'>
 <img src="img/appimages/etong_set_dingzhi.png">
    <div class=" dashboadlisttext">{{'Management alerts'|translate}}</div>
    
  </div>
  -->

</ion-list>

    </ion-content>
    
 
     

</ion-view>