<md-dialog aria-label="Mango (Fruit)" flex="50">
    <md-toolbar style="background-color:#343537 !important">
        <div class="md-toolbar-tools">
            <h2 style="color:white">Alerts</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/appimages/closeIcon.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="background-color:gray">
        <md-button ng-if="!unOpened" ng-click="unOpened = true" md-no-ink class="md-primary">Back to Previous Page</md-button>
        <md-list ng-if="unOpened">
            <md-subheader class="md-no-sticky">Lists of Alerts</md-subheader>

            <md-progress-linear ng-if="isPending" md-mode="indeterminate"></md-progress-linear>

            <md-list-item ng-repeat="alt in myAlerts.categories" ng-click='showAlertMessageDetails(alt)'>
                <img ng-src="img/appimages/etong_set_dingzhi.png" class="md-avatar" />
                <div class="md-list-item-text" layout="column">
                    <p>{{alt.CategoryName}}</p>
                </div>
            </md-list-item>
        </md-list>
        <div ng-if="!unOpened">
            <md-list>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm style="background-color:black !important">
                        <label>Search by words..</label>
                        <input ng-model="searchText">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>{{selected}}</label>
                        <md-select ng-model="selected">
                            <md-option value="all">All</md-option>
                            <md-option value={{device.DeviceID}} ng-repeat="device in availableDevices">
                                {{device.DeviceName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <md-list-item ng-repeat="mg in calledAlertMessages | abcFilter:selected | filter: {EventName:searchText}">
                    <p><b> {{mg.DeviceName}} </b><br/>{{mg.EventName}} <br/>{{mg.GPSTime| date:'MMM dd yyyy hh:mm a'}}</p>
                    <md-divider md-inset ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </div>
    </md-dialog-content>
</md-dialog>