<ion-view view-title="{{'Map'|translate}}" >

	<ion-content >

	
		<div style="height:100%">
		 <div  id="map_canvas2" style="width: 100%; height: 1000px;display: block;"></div> 
		</div> 
      </ion-content>
</ion-view>
