<ion-view view-title="{{'Map'|translate}}" >

	<ion-content>
      <!-- <div lazy-load="http://maps.google.com/maps/api/js">
			<map center="{{thisTripData.Starting.latitude}},{{thisTripData.Starting.logitude}}" zoom="13" >
			<marker id="startingwindow"  position='{{thisTripData.Starting.latitude}},{{thisTripData.Starting.logitude}}' icon="img/appimages/etong_qi_en.png" >

             </marker>
			 <marker  position='{{thisTripData.Ending.latitude}},{{thisTripData.Ending.logitude}}' icon="img/appimages/etong_zhong_en.png">

			</marker>
			 <shape name="polyline" 
      path="[
       {{thisTripData.playbackline}}
      ]"
      geodesic="true"
      stroke-color="#FF0000"
      stroke-opacity="1.0"
      stroke-weight="2">
    </shape>
	-->
	
		<div style="height:100%">
		<!--gd0GyxGUxSCoAbmdyQBhyhrZ-->
		<!--android: vo23vVyv9oXUG7CRa6tVa8GIFrYcDygS-->
		<!--web: Cuxgez99EULfTgRG3RocOj2cR6CekuiS-->
       <!--    <baidu-map options="mapOptions" ng-if="isTripMap" ak="Cuxgez99EULfTgRG3RocOj2cR6CekuiS" offline="offlineOpts" style="width: 100%; height: 1000px;display: block;" on-map-loaded="mapLoaded(map)"></baidu-map>     -->
	   
		  <!--  <baidu-map options="mapOptions2" ng-if="!isTripMap" ak="Cuxgez99EULfTgRG3RocOj2cR6CekuiS" offline="offlineOpts" style="width: 100%; height: 1000px;display: block;" on-map-loaded="mapLoaded(map)"></baidu-map>     -->
		  <div  id="map_canvas" style="width: 100%; height: 1000px;display: block;"></div> 
		  
        </div>
         
      </ion-content>
</ion-view>
