<ion-modal-view  view-title="{{'Change Password'|translate}}" style="background-color:black">
<ion-header-bar align-title="left" class="bar-dark">
  
	
   <h1 class="title">{{'Change Password'|translate}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="hidePassword()">{{'Close'|translate}}</button>
    </div>
</ion-header-bar>
 <ion-content class="padding">
       
      
         
          <div class="list">
           <div class="item item-divider">{{'Old'|translate}}</div>
            <label class="item item-input" >
             
              <input style="color:white" type="password" name="password" ng-model="changepass.oldPassword"   required placeholder="{{'Old Password'|translate}}">
            </label>
			 <div class="item item-divider">{{'New'|translate}}</div>
            <label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.password.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.password.$valid  && authorizationForm.$submitted}">
         
              <input style="color:white" type="password" name="password" ng-model="changepass.newPassword"  required placeholder="{{'New Password'|translate}}">
            </label>
		
            <label class="item item-input" >
           
              <input style="color:white" type="password" name="password" ng-model="changepass.password"   required placeholder="{{'Confirm Pasword'|translate}}">
            </label>
               
             
          </div>     
           
          <button class="button button-full submit-button"  ng-click="SubmitChangePassword()">
           {{'SUBMIT'|translate}}
          </button>
             
     
         
      </ion-content>
</ion-modal-view >
