<ion-modal-view  view-title="{{'Reminders'|translate}}" style="background-color:black">
<ion-header-bar align-title="left" class="bar-dark">
  
	<div class="row mygrid">
	<div class="col col-50 mygrid  title-heading">{{'Reminders'|translate}}</div>
	<div class="col col-25 ">
	<!--<i class="icon ion-edit edit-cancel-icon"  ng-hide="isedit" ng-click="checkPassword()" ></i>
	<i class="icon ion-close-circled edit-cancel-icon"  ng-show="isedit" ng-click="isedit=false" ></i>
	-->
	</div>
	<div class="col col-25 mygrid"> <button class="button button-clear" ng-click="hideCustomReminder()">{{'Close'|translate}}</button></div>
	</div>
	
   

</ion-header-bar>
 <ion-content class="padding">
       
        <form> 
         
          <div class="list">
  
           <ion-toggle class="switch-style"  ng-model="SelectedDevice.JSONData.customReminder.speeding">
				{{'Speeding alert'|translate}}
			</ion-toggle>
			<ion-toggle class="switch-style" ng-model="SelectedDevice.JSONData.customReminder.fence">
			{{'Electronic fence alert'|translate}}
			</ion-toggle>
			<ion-toggle class="switch-style" ng-model="SelectedDevice.JSONData.customReminder.idling">
					{{'Idling alert'|translate}}
			</ion-toggle>
			
             
          </div>     
           
          <button class="button button-full submit-button" type="submit" ng-click="SubmitDeviceInfo()">
           {{'SUBMIT'|translate}}  
          </button>
             
        </form>   
         
      </ion-content>
</ion-modal-view >
