<ion-modal-view style="background-color:black">
  <ion-header-bar align-title="left" class="bar-dark">

    <div class="row mygrid">
      <div class="col col-50 mygrid  title-heading">{{'Vehicle Info'|translate}}</div>
      <div class="col col-30 ">
        <!--<i class="icon ion-edit edit-cancel-icon"  ng-hide="isedit" ng-click="checkPassword()" ></i>
	<i class="icon ion-close-circled edit-cancel-icon"  ng-show="isedit" ng-click="isedit=false" ></i>-->
        <button class="button icon-left ion-edit " ng-hide="isedit" ng-click="checkPassword()">Edit</button>
        <button class="button icon-left ion-close-circled edit-cancel-button" ng-show="isedit" ng-click="cancelEdingDeviceOrDirver('device')">Cancel</button>

        <!--<button class="button button-clear" >{{'Edit'|translate}}</button>
	<button ng-show="isedit" class="button button-clear" ng-click="isedit=false">{{'Cancel'|translate}}</button>
	-->
      </div>
      <div class="col-col-20  mygrid">
        <button class="button button-clear" ng-click="CloseDeviceInfo()">{{'Close'|translate}}</button>
      </div>
    </div>



  </ion-header-bar>
  <ion-content class="padding">

    <form name="dInfo" novalidate="" ng-submit="UpdateData(dInfo)">
      <div class="img-right-side">
        <img id="myImage" class="myimg-Style" ng-src="{{serviceID}}Image/device/{{SelectedDevice.DeviceID}}/{{getdateforImage()}}"
          ng-click="showCamOptions('device')">
        <!--  <img id="myImage2" class="myimg-Style" ng-src="{{camImage}}" ng-click="showCamOptions('device')"  />-->
      </div>
      <!-- <button  ng-disabled="!isedit"  class="button button-full button-dark" ng-click="showCamOptions('device')">
                        {{'Vehicle Picture'|translate}} 
                </button>-->
      <div class="list ">
        <div class="item item-divider ">{{'General Information'|translate}}</div>
        <label class="item item-input " ng-class="{ 'has-errors' : dInfo.regno.$invalid, 'no-errors' : dInfo.regno.$valid}">
          <span class="input-label">{{'Registration_No'|translate}}:</span>
          <input ng-show="isedit" style="color:white" type="text" name="regno" ng-model="SelectedDevice.DeviceName">
          <span ng-hide="isedit" class="uneditData">{{SelectedDevice.DeviceName}}</span>
        </label>
        <label class="item item-input ">
          <span class="input-label">{{'Make'|translate}}:</span>
          <input ng-show="isedit" style="color:white" type="text" name="make" ng-model="SelectedDevice.JSONData.deviceInfo.make">
          <span ng-hide="isedit" class="uneditData">{{SelectedDevice.JSONData.deviceInfo.make}}</span>
        </label>
        <label class="item item-input ">
          <span class="input-label">{{'Model'|translate}}:</span>
          <input ng-show="isedit" style="color:white" type="text" name="model" ng-model="SelectedDevice.JSONData.deviceInfo.model">
          <span ng-hide="isedit" class="uneditData">{{SelectedDevice.JSONData.deviceInfo.model}}</span>

        </label>
        <label class="item item-input ">
          <span class="input-label">{{'Year'|translate}}:</span>
          <input ng-show="isedit" style="color:white" type="number" name="year" ng-model="SelectedDevice.JSONData.deviceInfo.year">
          <span ng-hide="isedit" class="uneditData">{{SelectedDevice.JSONData.deviceInfo.year}}</span>
        </label>
        <label class="item item-input ">
          <span class="input-label">{{'Color'|translate}}:</span>
          <input ng-show="isedit" style="color:white" type="text" name="color" ng-model="SelectedDevice.JSONData.deviceInfo.color">
          <span ng-hide="isedit" class="uneditData">{{SelectedDevice.JSONData.deviceInfo.color}}</span>
        </label>
        <label class="item item-input ">
          <span class="input-label">{{'Fuel tank capacity'|translate}}:</span>
          <input ng-show="isedit" style="color:white" type="text" name="capacity" ng-model="SelectedDevice.JSONData.deviceInfo.fuleTankCapacity">
          <span ng-hide="isedit" class="uneditData">{{SelectedDevice.JSONData.deviceInfo.fuleTankCapacity}} (l)</span>
        </label>
        <div class="item item-divider">{{'Insurance Information'|translate}}</div>
        <label class="item item-input ">
          <span class="input-label">{{'Company'|translate}}:</span>
          <input ng-show="isedit" style="color:white" type="text" name="insuranceComp" ng-model="SelectedDevice.JSONData.deviceInfo.insuranceComp">
          <span ng-hide="isedit" class="uneditData">{{SelectedDevice.JSONData.deviceInfo.insuranceComp}}</span>
        </label>
        <label class="item item-input ">
          <span class="input-label">{{'Number'|translate}}:</span>
          <input ng-show="isedit" style="color:white" type="number" name="insuranceno" ng-model="SelectedDevice.JSONData.deviceInfo.insuranceNo">
          <span ng-hide="isedit" class="uneditData">{{SelectedDevice.JSONData.deviceInfo.insuranceNo}}</span>
        </label>
        <label class="item item-input ">
          <span class="input-label">{{'Type'|translate}}:</span>
          <input ng-show="isedit" style="color:white" type="text" name="type" ng-model="SelectedDevice.JSONData.deviceInfo.insType">
          <span ng-hide="isedit" class="uneditData">{{SelectedDevice.JSONData.deviceInfo.insType}}</span>
        </label>
        <label class="item item-input ">
          <span class="input-label">{{'Exp_Date'|translate}}:</span>
          <input ng-show="isedit" style="color:white" type="date" name="expdate" ng-model="SelectedDevice.JSONData.deviceInfo.expDate">
          <span ng-hide="isedit" class="uneditData">{{SelectedDevice.JSONData.deviceInfo.expDate|date:'MMM dd yyyy'}}</span>
        </label>
        <div class="item item-divider">{{'Maintenance Information'|translate}}</div>
        <label class="item item-input ">
          <span class="input-label">{{'Reading'|translate}}:</span>
          <input ng-show="isedit" style="color:white" type="text" name="reading" ng-model="SelectedDevice.JSONData.deviceInfo.currentMeterReading">
          <span ng-hide="isedit" class="uneditData">{{SelectedDevice.JSONData.deviceInfo.currentMeterReading}}</span>
        </label>
        <label class="item item-input ">
          <span class="input-label">{{'Interval'|translate}}:</span>
          <input ng-show="isedit" style="color:white" type="text" name="meninterval" ng-model="SelectedDevice.JSONData.deviceInfo.mentInterval">
          <span ng-hide="isedit" class="uneditData">{{SelectedDevice.JSONData.deviceInfo.mentInterval}}</span>
        </label>
        <label class="item item-input ">
          <span class="input-label">{{'Next'|translate}}:</span>
          <input ng-show="isedit" style="color:white" type="text" name="meninterval" ng-model="SelectedDevice.JSONData.deviceInfo.nextMentReading">
          <span ng-hide="isedit" class="uneditData">{{SelectedDevice.JSONData.deviceInfo.nextMentReading}}</span>
        </label>
        <div class="error-container last-error-container" ng-show="dInfo.password.$error && dInfo.$submitted" ng-messages="dInfo.password.$error">
          <div ng-messages-include="error-list.html"></div>
        </div>

      </div>
      <!--<img id="myImage" class="myimg-Style"/>-->






      <button ng-disabled="!isedit" class="button button-full submit-button" type="submit" ng-click="SubmitDeviceInfo()">
        {{'SUBMIT'|translate}}
      </button>

    </form>

  </ion-content>
</ion-modal-view>