<ion-modal-view   view-title="{{'Driver_Information'|translate}}"  style="background-color:black">
<ion-header-bar align-title="left" class="bar-dark">
  
	<div class="row mygrid">
	<div class="col col-50 mygrid  title-heading">{{'Driver Info'|translate}}</div>
	<div class="col col-30 ">
	<button class="button icon-left ion-edit" ng-hide="iseditDriver" ng-click="checkPasswordDriver()">Edit</button>
	<button class="button icon-left ion-close-circled edit-cancel-button" ng-show="iseditDriver" ng-click="cancelEdingDeviceOrDirver('driver')">Cancel</button>

	
	
	<!--<button class="button button-clear" >{{'Edit'|translate}}</button>
	<button ng-show="iseditDriver" class="button button-clear" ng-click="iseditDriver=false">{{'Cancel'|translate}}</button>
	-->
	</div>
	<div class="col col-20 mygrid"> <button class="button button-clear" ng-click="closeDriverInfoModal()">{{'Close'|translate}}</button></div>
	</div>
	
   

</ion-header-bar>
 <ion-content class="padding">
       
        <form name="driverInfo" novalidate="" ng-submit="UpdateData(driverInfo)"> 
         <div class="img-right-side">
		 <img id="myImaged" class="myimg-Style" ng-click="showCamOptions('driver')" ng-src="{{serviceID}}Image/driver/{{SelectedDevice.DeviceID}}/{{getdateforImage()}}"  onerror="this.src = 'img/blankuser.jpg'"/>
		 </div>
			<!--<button ng-disabled="!iseditDriver" class="button button-full button-dark" ng-click="showCamOptions('driver')">
                        {{'Upload driver picture'|translate}} 
              </button>
			  -->
          <div class="list" >
		   
        <div class="item item-divider" >{{'Driver Information'|translate}} </div>
            <label class="item item-input" >
              <span class="input-label">{{'Name'|translate}} :</span>
              <input ng-show="iseditDriver" style="color:white"  type="text" name="name" ng-model="SelectedDevice.JSONData.DriverInfo.name" required >
			  <span ng-hide="iseditDriver" class="uneditData">{{SelectedDevice.JSONData.DriverInfo.name}}</span> 
            </label>
            <label class="item item-input" >
              <span class="input-label">{{'ID_No'|translate}} :</span>
              <input ng-show="iseditDriver" style="color:white"  type="text" name="id" ng-model="SelectedDevice.JSONData.DriverInfo.IDNo"  required>
			  <span ng-hide="iseditDriver" class="uneditData">{{SelectedDevice.JSONData.DriverInfo.IDNo}}</span> 
            </label>
              <label class="item item-input" >
              <span class="input-label">{{'DOB'|translate}} :</span>
              <input ng-show="iseditDriver" style="color:white"  type="date" name="dob" ng-model="SelectedDevice.JSONData.DriverInfo.dob"  >
			  <span ng-hide="iseditDriver" class="uneditData">{{SelectedDevice.JSONData.DriverInfo.dob|date:'MMM dd yyyy'}}</span> 
            </label>
        
		 <div class="item item-divider">{{'License_Information'|translate}}</div>
			 <label class="item item-input" >
              <span class="input-label">{{'Type'|translate}} :</span>
              <input ng-show="iseditDriver" style="color:white"  type="text" name="linctype" ng-model="SelectedDevice.JSONData.DriverInfo.linceType"  placeholder="{{'License_Type'|translate}}" >
			  <span ng-hide="iseditDriver" class="uneditData">{{SelectedDevice.JSONData.DriverInfo.linceType}}</span> 
            </label>
			 <label class="item item-input" >
              <span class="input-label">{{'Number'|translate}} :</span>
              <input ng-show="iseditDriver" style="color:white"  type="number" name="linceno" ng-model="SelectedDevice.JSONData.DriverInfo.lincNo" placeholder="{{'License_Number'|translate}}"  >
			  <span ng-hide="iseditDriver" class="uneditData">{{SelectedDevice.JSONData.DriverInfo.lincNo}}</span> 
            </label>
			 <label class="item item-input" >
              <span class="input-label">{{'Exp_Date'|translate}} :</span>
              <input ng-show="iseditDriver" style="color:white"  type="date" name="expdate" ng-model="SelectedDevice.JSONData.DriverInfo.expDate"  >
			  <span ng-hide="iseditDriver" class="uneditData">{{SelectedDevice.JSONData.DriverInfo.expDate|date:'MMM dd yyyy'}}</span> 
            </label>

            <div class="error-container last-error-container" ng-show="driverInfo.password.$error && driverInfo.$submitted" ng-messages="driverInfo.password.$error">
                <div ng-messages-include="error-list.html"></div> 
            </div>          
             
          </div>     
		 
			<!--<div class="row">
				<div class="col col-50">
				 <button class="button button-full button-dark" ng-click="openDevicePicture()">
                   {{'Camera'|translate}} 
                </button>
				</div>
				<div class="col col-50">
				<button class="button button-full button-dark" ng-click="openFromGalary()">
                    {{'Gallery'|translate}}  
                </button>
				</div>
			</div>-->
         
          
		   	  <button ng-disabled="!iseditDriver" class="button button-full submit-button" type="submit" ng-click="SubmitDeviceInfo()">
				{{'SUBMIT'|translate}}  
          </button>
             
        </form>   
         
      </ion-content>
</ion-modal-view >
