<ion-modal-view  view-title="{{'Download PDF'|translate}}"   style="background-color:black">
    <ion-header-bar align-title="left" class="bar-dark">
    <h1 class="title">{{'Donwload PDF'|translate}}</h1>
            <div class="buttons">
              <button class="button button-clear" ng-click="closeGenerateModal()">{{'Close'|translate}}</button>
            </div>
        </ion-header-bar>            
    </ion-header-bar>
    <ion-content class="padding">

            <button class="button button-energized" ng-click="generatePDf()">Donwload Generated PDF</button>
    </ion-content>
    
</ion-modal-view>