<style type="text/css">
    #map > div:nth-of-type(2) {
        height: 93vh !important;
    }

    #map2 > div:nth-of-type(1) {
        height: 93vh !important;
    }
    #setHeight + div{
        height: 93vh !important;
    }
</style>

<div class="title-header">
    <div layout="row">
        {{'Map'|translate}}
        <!--	<button class="button map-show-button"  ui-sref="app.googleMapAll" ng-click="ShowAllDevicesAndCloseMe()" > {{'All Devices'|translate}}</button>-->
        <span flex></span>
        <i class="material-icons md-36" ng-hide="isTripMap || hidethisview"
           ng-click="showAllDeviceswithInfo();hidethisview=!hidethisview;"
        >directions_car
            <md-tooltip>Add Device</md-tooltip>
        </i>


    </div>
</div>


<md-content>
    <div lazy-load="http://maps.google.com/maps/api/js?key=AIzaSyDDtEwsXnlGxxR5G7sCPQ7T_0xeIh2o1ac&callback=initMap"
         ng-if="isTripMap">
        <ng-map center="Malaysia" zoom="{{zoomLevel}}">
            <custom-control id="home" position="TOP_LEFT" index="1" on-click="showTraficSet()">
                <div class="trafic-image"></div>
            </custom-control>

            <traffic-layer ng-if="showTrafic"></traffic-layer>

            <marker id="starting_mark" on-click="showInfoWindow(event,'starting_window')" id="startingwindow"
                    position='[{{thisTripData.Starting.latitude}},{{thisTripData.Starting.logitude}}]'
                    icon="img/appimages/etong_qi_en.png">

            </marker>
            <marker id="Ending_mark" on-click="showInfoWindow(event,'Ending_window')"
                    position='[{{thisTripData.Ending.latitude}},{{thisTripData.Ending.logitude}}]'
                    icon="img/appimages/etong_zhong_en.png">

            </marker>
            <!-- <shape name="polyline" path="[
       {{thisTripData.playbackline}}]" geodesic="true" stroke-color="blue" stroke-opacity="0.5" stroke-weight="6">
            </shape> -->
            <info-window id='starting_window'>
                <div>
                    <table>
                        <tr>
                            <td>
                                Start <span ng-if="thisTripData.Starting.Details.l_datetime">:</span>
                            </td>
                            <td>
                                <div style="margin-left:5px"> {{thisTripData.Starting.Details.l_datetime|date:'MMM dd
                                    yyyy hh:mm a'}}
                                </div>
                            </td>
                        </tr>
                    </table>

                    {{thisTripData.Starting.Details.Location_Name}}
                </div>
            </info-window>

            <info-window id='Ending_window'>
                <div>

                    LocationAddress
                    <table>
                        <tr>
                            <td>
                                End <span ng-if="thisTripData.Ending.Details.l_datetime">:</span>
                            </td>
                            <td>
                                <div style="margin-left:5px"> {{thisTripData.Ending.Details.l_datetime|date:'MMM dd yyyy
                                    hh:mm a'}}
                                </div>
                            </td>
                        </tr>
                    </table>
                    {{thisTripData.Ending.Details.Location_Name}}

                </div>
            </info-window>
            <directions id="setHeight" draggable="true" suppress-markers="true" panel="directions-panel"
                        travel-mode="DRIVING" origin="{{thisTripData.Starting.latitude}},{{thisTripData.Starting.logitude}}"
                        destination="{{thisTripData.Ending.latitude}},{{thisTripData.Ending.logitude}}" , suppress-markers="true">
            </directions>
        </ng-map>


        <!-- <ng-map id="map2" center="{{thisTripData.Starting.latitude}},{{thisTripData.Starting.logitude}}" zoom="13">
            <custom-control id="home" position="TOP_LEFT" index="1" on-click="showTraficSet()">
                <div class="trafic-image"></div>
            </custom-control>

            <traffic-layer ng-if="showTrafic"></traffic-layer>

            <marker id="starting_mark" on-click="showInfoWindow(event,'starting_window')" id="startingwindow"
                    position='{{thisTripData.Starting.latitude}},{{thisTripData.Starting.logitude}}'
                    icon="img/appimages/etong_qi_en.png">

            </marker>
            <marker id="Ending_mark" on-click="showInfoWindow(event,'Ending_window')"
                    position='{{thisTripData.Ending.latitude}},{{thisTripData.Ending.logitude}}'
                    icon="img/appimages/etong_zhong_en.png">

            </marker>
            <shape name="polyline"
                   path="[
   {{thisTripData.playbackline}}]"
                   geodesic="true"
                   stroke-color="blue"
                   stroke-opacity="0.5"
                   stroke-weight="6">
            </shape>
            <info-window id='starting_window'>
                <div>
                    <table>
                        <tr>
                            <td>
                                Start <span ng-if="thisTripData.Starting.Details.l_datetime">:</span>
                            </td>
                            <td>
                                <div style="margin-left:5px"> {{thisTripData.Starting.Details.l_datetime|date:'MMM dd yyyy hh:mm a'}}
                                </div>
                            </td>
                        </tr>
                    </table>

                    {{thisTripData.Starting.Details.Location_Name}}
                </div>
            </info-window>

            <info-window id='Ending_window'>
                <div>

                    LocationAddress
                    <table>
                        <tr>
                            <td>
                                End <span ng-if="thisTripData.Ending.Details.l_datetime">:</span>
                            </td>
                            <td>
                                <div style="margin-left:5px"> {{thisTripData.Ending.Details.l_datetime|date:'MMM dd yyyy hh:mm a'}}
                                </div>
                            </td>
                        </tr>
                    </table>
                    {{thisTripData.Ending.Details.Location_Name}}

                </div>
            </info-window>

            <directions
            draggable="true"
            panel="directions-panel"
            travel-mode="DRIVING"
            origin="{{thisTripData.Starting.LocationAddress}}"
            destination="{{thisTripData.Ending.LocationAddress}}">
          </directions>

        </ng-map> -->


    </div>


    <div lazy-load="http://maps.google.com/maps/api/js?key=AIzaSyDDtEwsXnlGxxR5G7sCPQ7T_0xeIh2o1ac&callback=initMap"
         ng-if="!isTripMap">
        <ng-map id="map" center="Malaysia" zoom="{{zoomLevel}}">
            <custom-control position="TOP_LEFT" index="1" on-click="showTraficSet()">
                <div class="trafic-image"></div>
            </custom-control>

            <traffic-layer ng-if="showTrafic"></traffic-layer>

            <div ng-repeat="t in devicesOnMap">

                <marker id='{{$index}}' position='{{t.Latitude}},{{t.Logitude}}'
                        on-click="showInfoWindow(event,{{t.DeviceID}})" icon="img/appimages/etong_qi_blank.png">

                </marker>
                <custom-marker id='{{$index}}' position='{{t.Latitude}},{{t.Logitude}}'>
                    <div><img ng-src="{{serviceID}}Image/device/{{t.DeviceID}}/{{imageCounter}}"
                              class="avatar" onerror="this.src = 'img/nodevice.jpg'"
                    /></div>
                </custom-marker>

                <info-window id={{t.DeviceID}} visible-on-marker='{{$index}}'>


                    <div>
                        <table>
                            <tr>
                                <td vertical-align="center"><img style="text-align:right;margin-left:5px;"
                                                                 ng-src="{{getMyDriverImage(t)}}" class="avatar-driver"
                                                                 onerror="this.src = 'img/nodevice.jpg'"/></td>
                                <td>
                                    <div class="device-name-info-window">{{t.DeviceName}}</div>


                                </td>
                                <td vertical-align="center">
                                    <div class="device-name-info-window">
                                        <img src="img/ignition on.png" class="ignition-on-off" ng-show="t.Ignition==1">
                                        <img src="img/ignition off.png" class="ignition-on-off" ng-hide="t.Ignition==1">
                                    </div>
                                </td>

                            </tr>
                        </table>


                        <div>
                            <table>
                                <tr>
                                    <td>
                                        Dated:
                                    </td>
                                    <td>
                                        {{t.LastUpdate|date:'MMM dd yyyy hh:mm a'}}
                                    </td>
                                </tr>

                                <tr>
                                    <td>Speed:</td>
                                    <td>{{t.Speed}} km</td>
                                </tr>
                                <tr>
                                    <td>Lat,Long:</td>
                                    <td> {{t.Latitude}},{{t.Logitude}}</td>
                                </tr>
                                <tr>
                                    <td>Location:</td>
                                    <td>{{t.Location_Name}}</td>
                                </tr>
                                <tr>
                                    <td>Battery:</td>
                                    <td>
                                        {{t.Backup_Battery_Percentage}}%
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>


                </info-window>

            </div>

        </ng-map>


    </div>


</md-content>

