<ion-view  ng-init="showAllDeviceswithInfo()" >
 <ion-nav-title>
 {{'Map'|translate}}
 	
    </ion-nav-title>




	<ion-content >
      
<!--	  <div lazy-load="http://maps.google.com/maps/api/js?key=AIzaSyDDtEwsXnlGxxR5G7sCPQ7T_0xeIh2o1ac&callback=initMap" ng-if="isTripMap">
			<map  center="{{thisTripData.Starting.latitude}},{{thisTripData.Starting.logitude}}" zoom="13" >
			<marker id="starting_mark"  position='{{thisTripData.Starting.latitude}},{{thisTripData.Starting.logitude}}'  on-click="showInfoWindow(event,'starting_window')" icon="img/appimages/etong_qi_en.png" >

             </marker>
			  <info-window id='starting_window' visible-on-marker='starting_mark'>
                        <div ng-non-bindable="">

                            <h3>
							{{SelectedDevice.DeviceName}}</h3>
                            
                                <table>
                                    <tr>
                                        <td>
                                            Started:
                                        </td>
                                        <td>
                                            {{selectedMember.Start|date:'MMM dd yyyy hh:mm a'}}
                                        </td>
                                    </tr>

                                   
                                </table>

                         
                        </div>
                    </info-window>
			 <marker id="Endingwindow"  position='{{thisTripData.Ending.latitude}},{{thisTripData.Ending.logitude}}' icon="img/appimages/etong_zhong_en.png">

			</marker>
			 <shape name="polyline" 
      path="[
       {{thisTripData.playbackline}}
      ]"
      geodesic="true"
      stroke-color=blue
      stroke-opacity="0.5"
      stroke-weight="6">
    </shape>
	  
	
</map>
			
				
</div>-->


       <!-- <div ng-if="!isTripMap">
			<map id="map"  center="{{latitude}},{{logitude}}" zoom="10"  >
			
	     <div ng-repeat="t in myDevices|filter:isAllDeviceFilter" >
                    <marker id='{{t.DeviceID}}' position='{{t.Latitude}},{{t.Logitude}}'  on-click="showInfoWindow(event,'{{t.DeviceID}}')" icon="img/appimages/etong_qi_blank.png">
				
                    </marker>
                    <info-window id='{{t.DeviceID}}' visible-on-marker='{{t.DeviceID}}'>
                        <div ng-non-bindable="">

                            <h3>
							{{t.DeviceName}}
                              <img  src="img/ignition on.png" class="ignition-on-off" ng-show="t.Ignition==1">
							<img  src="img/ignition off.png" class="ignition-on-off" ng-hide="t.Ignition==1">   </h3>
                            <div>
                                <table>
                                    <tr>
                                        <td>
                                            Dated:
                                        </td>
                                        <td>
                                            {{t.l_datetime|date:'MMM dd yyyy hh:mm a'}}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Speed:</td>
                                        <td>{{t.Speed}} km</td>
                                    </tr>
                                    <tr>
                                        <td>Lat,Long:</td>
                                        <td>  {{t.Latitude}},{{t.Logitude}}</td>
                                    </tr>
                                    <tr>
                                        <td>Location:</td>
                                        <td>{{t.Location_Name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Battery: </td>
                                        <td>
                                           {{t.Backup_Battery_Percentage}}%
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </info-window>

                </div>
	
			</map>
			
				
		</div>
                -->
        
         
      </ion-content>
</ion-view>
