<ion-modal-view style="background-color:black">
    <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title title-left">{{'Health Check'|translate}}</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="CloseHealthCheckOpen()">{{'Close'|translate}}</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="cardiagnosticheader row">
            <div class="col col-40 score">
                {{'Score'|translate}}
            </div>
            <div class="col col-20 ">
            </div>
            <div class="col col-40 score-right">
                <div class="col">
                    {{healthlastupdate|date:'MMM dd yyyy'}}

                    {{healthlastupdate|date:'hh:mm a'}}
                </div>
            </div>
        </div>
        <ion-list>
            <div class="standard-border" style="margin-right:12px">
                <div class="row girdbacksub-list" style="padding:0px">

                    <div class="col col-50 dashboadlistheading  health-grid" style="font-weight: bold;">
                        {{'Description'|translate}}
                    </div>
                    <div class="col col-25 dashboad-reading health-grid" style="font-weight: bold;">
                        {{'Value'|translate}}
                    </div>
                    <div class="col col-25 reading-unit health-grid" style="font-weight: bold;">{{'Range'|translate}}
                    </div>
                </div>
                <a ng-repeat="hd in hd" type="item-text-wrap">

                    <div class="row girdbacksub-list" style="padding:0px">

                        <div class="col col-50 health-grid">{{hd.name}}</div>
                        <div class="col col-25 health-grid"
                             ng-hide="hd.id==117 || hd.id==116 || hd.id==114||hd.id==116116">
                            {{hd.Value}}


                        </div>
                        <div class="col col-25 health-grid" ng-show="hd.id==117 || hd.id==116 || hd.id==114">
		
		<span ng-show="hd.id==117 || hd.id==116 || hd.id==114" ng-hide="hd.id==116116" class="f-code">{{hd.Value}}<span>
		
			

<!--			<select  ng-show="hd.id==116116" class="faultcode-dropdown"  style="padding:0px;margin:0px;width:100%" ng-model="selectedFaultCode" >
			  <option ng-repeat="item in faultsCodes">{{item.idno}} : {{item.description}}</option>
			
			  </select>
	-->

                        </div>

                        <div class="col col-25 health-grid"> {{hd.range}}
                            <button ng-click="showFaultDescription()" class="scan-button-add"
                                    ng-show='hd.id==116116 && showDescriptionButton'>{{'Details'|translate}}
                            </button>

                        </div>


                    </div>


                </a>
            </div>
        </ion-list>


    </ion-content>
</ion-modal-view>
  