<ion-view view-title="CarOnline.Guru"  >

        <ion-content >
          
<ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide>
    <div class="box blue box-orange">
    <img src="img/appimages/etong_guide_1_en.png" class="box-orange" >
    </div>
  </ion-slide>
  <ion-slide>
    <div class="box yellow"><img src="img/appimages/etong_guide_2_en.png" class="box-orange"></div>
  </ion-slide>
  <ion-slide>
 
    <div class="box pink"> <img src="img/appimages/etong_guide_3.png" class="box-orange"></div>
  </ion-slide>
   <ion-slide>
 
    <div class="box pink"> <img src="img/appimages/etong_guide_4.png" class="box-orange"></div>
  </ion-slide>
</ion-slide-box>

        </ion-content>
</ion-view>