<ion-modal-view  class="login-Page-Img" >


	  <ion-content scroll="false">
	  <div layout="row">
	  <span flex flex="33" hide-sm></span>
	  <div layout="column" flex>
	 <div class="hero2 no-header flat">
            <div class="content">
			
               <div class="app-icon-withtext"></div>
			<!--    <div class="appheader">{{'Caronline.Guru'|translate}}</div>-->
           <!--     <img src="img/logo22.png" width="300" height="200"/>-->

            
            </div>
        </div>
	
	<ion-list>
	
	   <div class="row row-center">
      <div class="col col-center">
     
	  <div class="item item-input transparent-list">
            <input style="color:white;font-size:20px;" ng-model="loginData.userName" placeholder="{{'Username'|translate}}" highlight-color="balanced" type="text"></input>
		</div>
		<div class="item item-input transparent-list">
            <input style="color:white;	font-size:20px;" ng-model="loginData.password" placeholder="{{'PASSWORD'|translate}}" highlight-color="energized" type="Password"></input>
		</div>
     
      </div>
    </div>
	
	
		
        <div class="padding">
            <button ng-click='login()' class="button button-full  ink login-button">{{'LOGIN'|translate}}</button>
		
			<div style="font-size:14px;color:yellow;text-align:left" ng-click="forgetPassword()">{{'Forget Password'|translate}}</div>
			
        </div> 
		
		<div class="row row-bottom " style="padding:0px;">
		  <div class="col col-50 mygrid"> <button  class="button button-full  signupbutton" style="font-size:16px;text-align:right;" ng-click="signupShow()">{{'SIGN_UP'|translate}} |</button></div>
			
		  <div class="col col-50 mygrid"> 
		    <select class="button button-full  signupbutton languageDropdown" style="font-size:16px;" ng-controller="langCtrl" ng-model="selectedlang" ng-change=changeLanguage(selectedlang)  style="width:100%">
                    <option value="en" selected>English</option>
                    <option value ="cn">Chinese</option>
                    <option value ="ml">Malay</option>
					<option value ="ar">Arabic</option>
                </select>
			<!--<button ng-click='closeLogin()' class="button button-full  ink signupbutton">Language</button>-->
	
		</div>
		  
		</div>
		 </ion-list>
		
	
	</div>
	<span flex="33" hide-sm></span>
	
	</div>
	

  </ion-content>
</ion-view>
