<ion-modal-view  view-title="Reminders" style="background-color:black">
<ion-header-bar align-title="left" class="bar-dark">
  
	<div class="row mygrid">
	<div class="col col-50 mygrid  title-heading">{{'Map Settings'|translate}}</div>
	<div class="col col-25 ">
	<!--<i class="icon ion-edit edit-cancel-icon"  ng-hide="isedit" ng-click="checkPassword()" ></i>
	<i class="icon ion-close-circled edit-cancel-icon"  ng-show="isedit" ng-click="isedit=false" ></i>
	-->
	</div>
	<div class="col col-25 mygrid"> <button class="button button-clear" ng-click="hideMapSettings()">{{'Close'|translate}}</button></div>
	</div>
	
   

</ion-header-bar>
 <ion-content class="padding">
       
        <form> 
         
          <div class="list ">
		  <li class="item item-checkbox girdbacksub-list">
			Google Map
		   <label class="checkbox">
		   <input type="checkbox" ng-model='mySettings.MapSettings.isGoogleMap' ng-click="ChangeSelectedMap(1,mySettings.MapSettings.isGoogleMap)">
		   </label>
		</li>
			 <li class="item item-checkbox girdbacksub-list">
		  Baidu Map
		   <label class="checkbox">
		   <input type="checkbox" ng-model='mySettings.MapSettings.isBaiduMap' ng-click="ChangeSelectedMap(2,mySettings.MapSettings.isBaiduMap)">
		   </label>
		</li>
             
          </div>     
           
          <button class="button button-full submit-button" type="submit" ng-click="SaveMapSettings()">
           Submit
          </button>
             
        </form>   
         
      </ion-content>
</ion-modal-view> 
