<div layout="row" >

<md-sidenav class="md-sidenav-left" md-component-id="left"
               md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">

      <div class="title-header" >
        <div class="row">
		 <!-- <i class="material-icons md-36"  ng-click="showAddDevice()"
                    >cancel<md-tooltip>Close</md-tooltip></i>
					<span flex></span>-->
		{{'My Devices'|translate}}
		<span flex></span>
		  <i class="material-icons md-36 hvr-fade md-dark"  ng-click="showAddDevice()"
                    >add_circle<md-tooltip>Add Device</md-tooltip></i>
			</div>
		</div>
		  <ion-header-bar class="bar-stable bar bar-header bar-dark item-input-inset">
    <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" style="color:black;" placeholder="Search" ng-model="searchText">
  </label>
	<i class="icon ion-close-circled" style="margin-left:5px;font-size:18px" ng-click="searchText=''"></i>
    </ion-header-bar>
      

      <md-content style="background-color:gray">
         
      <ion-list >
      
		<div class="row filter-back">
	 <select  class="filter-dropdown payment-grid"  style="font-size:18px;padding:0px;margin:0px;width:100%" ng-change="changefilterMenu(filterDeviceStatus)"  ng-model="filterDeviceStatus"  
      ng-options="option.StatusName for option in DeviceStatusFilter"
      ></select>

			</div>
			<div class="full-scroll">
		<a   ng-repeat="item in myDevices|filter:searchText|filter:deviceStatusFilter" ng-click="changeDevice(item)">
			
			<div class="row item  truck-list mygrid" ng-style="item.DeviceID== SelectedDevice.DeviceID&& {'background-color':'#FFC000'}" >
			<div class="col col-30 mygrid">
			<img ng-src="{{serviceID}}Image/device/{{item.DeviceID}}/{{getdateforImage()}}" class="truck-img"  onerror="this.src = 'img/nodevice.jpg'"/>
			</div>
			<div class="col col-60 ">	
				<div class="col mygrid trip-readings">{{item.DeviceName}}</div>
				<div class="col mygrid trip-readings">{{item.LastUpdate|date : 'MMM dd yyyy hh:mm a'}}</div> 
				
			</div>
			<div class="col col-10 mygrid">
				<div class="col  "> 
					<i class="icon ion-flag active-flag" ng-show="item.flg" ></i>
					<i class="icon ion-flag inactive-flag" ng-hide="item.flg" ></i>
				
				</div>
				<div class="col mygrid"></div>
			</div>
			</div>
		</a>
		</div>
			
      </ion-list>
   
      </md-content>

    </md-sidenav>
 
	
	<div flex="33">
	
		<div mydashboad ng-controller="RootsCtrl" ng-show="activeTab==0" ></div>
		<div mytrips ng-controller="TripCtrl" ng-show="activeTab==1"></div>
		<div mypersonalcenter ng-controller="PersonalCenterCtrl" ng-show="activeTab==2"></div>
		<div mysettings ng-controller="SettingsCtrl" ng-show="activeTab==3"></div>
		
	</div>
	<div flex>
	
		<div mygooglemap></div>
	</div>
  </div>





<!--<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" >
    <ion-header-bar class="bar-stable bar bar-header bar-dark item-input-inset">
    <div class="row">
	<div class="col col-80">
	
	 </div>
	 <div class="col col-20">
	 <button class="button button-icon button-clear ion-plus-round" ng-click="showAddDevice()">
	
     </button>
	 </div>
	</div>
    </ion-header-bar>
	
	
    <ion-content style="background-color:gray">
	   <ion-header-bar class="bar-stable bar bar-header bar-dark item-input-inset">
    <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" style="color:black;" placeholder="Search" ng-model="searchText">
  </label>
	<i class="icon ion-close-circled" style="margin-left:5px;font-size:18px" ng-click="searchText=''"></i>
    </ion-header-bar>
      <ion-list >
      
		<div class="row filter-back">
	 <select  class="filter-dropdown payment-grid"  style="font-size:18px;padding:0px;margin:0px;width:100%" ng-change="changefilterMenu(filterDeviceStatus)"  ng-model="filterDeviceStatus"  
      ng-options="option.StatusName for option in DeviceStatusFilter"
      ></select>

			</div>
			
		<a   ng-repeat="item in myDevices|filter:searchText|filter:deviceStatusFilter" ng-click="changeDevice(item)">
			
			<div class="row item  truck-list mygrid" ng-style="item== SelectedDevice&& {'background-color':'#FFC000'}" >
			<div class="col col-30 mygrid">
			<img ng-src="{{serviceID}}Image/device/{{item.DeviceID}}/{{getdateforImage()}}" class="truck-img"  onerror="this.src = 'img/nodevice.jpg'"/>
			</div>
			<div class="col col-60 ">	
				<div class="col mygrid trip-readings">{{item.DeviceName}}</div>
				<div class="col mygrid trip-readings">{{item.LastUpdate|date : 'MMM dd yyyy hh:mm a'}}</div> 
				
			</div>
			<div class="col col-10 mygrid">
				<div class="col  "> 
					<i class="icon ion-flag active-flag" ng-show="item.flg" ></i>
					<i class="icon ion-flag inactive-flag" ng-hide="item.flg" ></i>
				
				</div>
				<div class="col mygrid"></div>
			</div>
			</div>
		</a>
			
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

-->