<ion-modal-view  view-title="CarOnline.Guru"  style="background-color:black">
<ion-header-bar align-title="left" class="bar-dark">
  
	
   <h1 class="title">{{'Feedback'|translate}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeintro()">{{'Close'|translate}}</button>
    </div>
</ion-header-bar>
 <ion-content class="padding">
       
       <div class="feedback-heading">You are welcomed to put forward valuable opinions and suggestions</div>
        <ion-item>
		  
		   <textarea  style="width:100%;height:200px;color:black;" ng-model="fb.message" placeholder="Enter your comments and suggestions" ></textarea>
		 </ion-item>
		
             
		<button class="button button-full submit-button" type="submit" ng-click="feedbackSave()">
             {{'Submit Feedback'|translate}}  
          </button>
             
      
         
      </ion-content>
</ion-modal-view >