<style>
    .addRightBorder {
        border-right: 1px solid;
        text-align: center
    }

    .addRightBorder2 {
        border-right: 1px solid;
        text-align: center;
        border-left: 1px solid;
    }

    .addRightBorder3 {
        border-right: 1px solid;
        text-align: center;
        padding-top: 8px;
    }

    .zard {
        color: #a5a51e;
    }
</style>

<md-dialog aria-label="Mango (Fruit)" flex="50">
    <md-toolbar style="background-color:#343537 !important">
        <div class="md-toolbar-tools">
            <h2 style="color:white">Payment Page</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/appimages/closeIcon.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="background-color:gray">
        <md-content flex layout-padding>
            <h4>Dear Customer</h4>
            <p>This app comes with one month free license from date of registration. Please take note of expiry date and renew
                your license in time to avoid service interruption.
                <p>
        </md-content>

        <div layout="row">
            <div flex="33" class="addRightBorder2">
                <md-divider></md-divider>
                <h4>Plan 1</h4>
                <md-divider></md-divider>
                <p>1 month</p>
                <md-divider></md-divider>
                <h5>USD 5.99</h5>
                <md-divider></md-divider>
            </div>

            <div flex="34" class="addRightBorder">
                <md-divider></md-divider>
                <h4>Plan 2</h4>
                <md-divider></md-divider>
                <p>6 months</p>
                <md-divider></md-divider>
                <h5>USD 35.99</h5>
                <md-divider></md-divider>
            </div>

            <div flex="33" class="addRightBorder">
                <md-divider></md-divider>
                <h4>Plan 3</h4>
                <md-divider></md-divider>
                <p>1 year</p>
                <md-divider></md-divider>
                <h5>USD 55.99</h5>
                <md-divider></md-divider>
            </div>
        </div>

        <md-content flex layout-padding>
            <p>Please note that any plan selected cannot be changed or modified once payment is done until the expiry date.
                <p>
                    <p class="zard">T = Trial Account *</p>
                    <p class="zard">Plan 4 is under development</p>
        </md-content>

        <div layout="row">
            <div flex="10" class="addRightBorder2">
                <md-divider></md-divider>
                <p>Sno</p>
                <md-divider></md-divider>
            </div>

            <div flex="20" class="addRightBorder">
                <md-divider></md-divider>
                <p>Device</p>
                <md-divider></md-divider>
            </div>

            <div flex="20" class="addRightBorder">
                <md-divider></md-divider>
                <p>Reg</p>
                <md-divider></md-divider>
            </div>

            <div flex="20" class="addRightBorder">
                <md-divider></md-divider>
                <p>Exp</p>
                <md-divider></md-divider>
            </div>

            <div flex="10" class="addRightBorder">
                <md-divider></md-divider>
                <p>Plan</p>
                <md-divider></md-divider>
            </div>

            <div flex="20" class="addRightBorder">
                <md-divider></md-divider>
                <p>New plan</p>
                <md-divider></md-divider>
            </div>
        </div>

        <div layout="row" ng-repeat="item in callMyDevices">
            <div flex="10" class="addRightBorder2">
                <br>
                <md-checkbox aria-label="Checkbox 2" ng-model="isCheck[item.DeviceID]" ng-change="checkPlan()"></md-checkbox>
            </div>

            <div flex="20" class="addRightBorder3">
                <br>
                <p>{{item.DeviceName}}</p>
            </div>

            <div flex="20" class="addRightBorder3">
                <br>
                <P>{{item.RegDate|date:'MMM dd yy'}}</P>
            </div>

            <div flex="20" class="addRightBorder3">
                <br>
                <P>{{item.ExpDate|date:'MMM dd yy'}}</P>
            </div>

            <div flex="10" class="addRightBorder3">
                <br>
                <p>{{item.PackagePlanID}}</p>
            </div>

            <div flex="20" class="addRightBorder">
                <md-input-container class="md-block" flex-gt-sm style="padding:0 !important">
                    <label>Select plan</label>
                    <md-select ng-model="selectedPlans[item.DeviceID]" ng-change="checkPlan()">
                        <md-option ng-repeat="option in plansDetails" value="{{option}}">{{option.planName}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
        <br>
        <md-button class="md-raised md-primary" style="left:38%">Total : USD {{finaltotalAmount|number:2}}</md-button>
    </md-dialog-content>
</md-dialog>