<ion-view view-title="{{'License renewal'|translate}}" style="background-color:black">
	<ion-header-bar class="bar bar-header bar-dark">
		<h1 class="title">{{'License renewal'|translate}}</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="CloseHealthCheckOpen()">{{'Close'|translate}}</button>
		</div>
	</ion-header-bar>
	<ion-content>

		<ion-list>

			<div class="standard-border" style="margin-right:12px">
				<div class="licence-heading4">Dear customer</div>
				<p class="licence-heading4">This app comes with one month free license from date of registration. Please take note of expiry date and renew your
					license in time to avoid service interruption.
				</p>
				<div class="row  girdbacksub-list" style="padding:0px">

					<div class="col col-25  health-grid licienc-heading" style="font-weight: bold;">{{'Plan 1'|translate}}</div>
					<div class="col col-25  health-grid licienc-heading" style="font-weight: bold;"> {{'Plan 2'|translate}}</div>
					<div class="col col-25  health-grid licienc-heading" style="font-weight: bold;">{{'Plan 3'|translate}}</div>
					<div class="col col-25  health-grid licienc-heading" style="font-weight: bold;">{{'Plan 4'|translate}}</div>
				</div>
				<div class="row licence-heading2 girdbacksub-list" style="padding:0px;margin-top:1px;">

					<div class="col col-25 licence-heading2 health-grid">1 month</div>
					<div class="col col-25 licence-heading2  health-grid"> 6 months</div>
					<div class="col col-25 licence-heading2 health-grid">1 year</div>
					<div class="col col-25 licence-heading2 health-grid">1 year</div>
				</div>
				<div class="row  girdbacksub-list" style="padding:0px;margin-top:1px;">

					<div class="col col-25 licence-heading3 health-grid">USD 5.99</div>
					<div class="col col-25 licence-heading3  health-grid"> USD 35.99</div>
					<div class="col col-25 licence-heading3  health-grid">USD 55.99</div>
					<div class="col col-25 licence-heading3  health-grid">USD 99.99</div>
				</div>
				<p class="licence-heading4">Please note that any plan selected cannot be changed or modified once payment is done until the expiry date.</p>
				<p class="licence-trail">T = Trial Account *</p>
				<p class="licence-trail">Plan 4 is under development</p>

				<div class="row girdbacksub-list">
					<div class="col col-10 health-grid" style="padding:0px;">

					</div>

					<div class="col col-20 health-grid payment-grid">
						{{'Device'|translate}}
					</div>
					<div class="col col-20 health-grid payment-grid">
						{{'Reg.'|translate}}
					</div>
					<div class="col col-20 health-grid payment-grid">
						{{'Exp.'|translate}}
					</div>
					<div class="col col-10 health-grid payment-grid">
						{{'Plan'|translate}}
					</div>
					<div class="col col-20 health-grid payment-grid">
						{{'New Plan'|translate}}
					</div>


				</div>

				<div class="row girdbacksub-list" ng-repeat="item in myDevices">
					<div class="col col-10 health-grid" style="padding:0px;">
						<ion-checkbox ng-model="item.check" class="deviceCheck" ng-change="calculatePlan()"></ion-checkbox>
					</div>

					<div class="col col-20 health-grid payment-grid">
						{{item.DeviceName}}
					</div>
					<div class="col col-20 health-grid payment-grid">
						{{item.RegDate|date:'MMM dd yy'}}
					</div>
					<div class="col col-20 health-grid payment-grid">
						{{item.ExpDate|date:'MMM dd yy'}}
					</div>
					<div class="col col-10 health-grid payment-grid">
						{{item.PackagePlanID}}
					</div>
					<div class="col col-20 health-grid ">
						<select class="plan-dropdown payment-grid" style="padding:0px;margin:0px;width:100%" ng-model="item.plan" ng-change="changePlan(item.plan)"
						 ng-options="option.planName for option in plansDetails"></select>
						<!--<select class="plan-dropdown"  style="padding:0px;margin:0px;width:100%" ng-model="item.plan" ng-change="changePlan(item.plan)"  >
                    <option ng-repeat="op in plansDetails" ng-value="op">{{op.planName}}</option>
                    
                </select>	-->
					</div>


				</div>
				<div class="row girdbacksub-list">
					<div class="col licienc-heading">
						<!--	<select class="button button-full licence-button" style="font-size:14px;padding:0px;margin:0px;width:100%" ng-model="SelectedPlan" ng-change="changePlan(SelectedPlan)"  >
                    <option value=1>Plan 1</option>
                    <option value=2>Plan 2</option>
                    <option value=3>Plan 3</option>
					<option value=4>Plan 4</option>
                </select>
				-->

					</div>
					<div class="col licienc-heading ">
						<div class="charges-heading">Total : USD {{planCharges|number:2}}</div>
					</div>
				</div>
				<!--<button ng-click='changePlan()' class="button button-full  ink licence-button">{{'Proceed'|translate}}</button>-->



				<div class="row girdbacksub-list">
					<button class="button button-full  ink licence-button" ng-click='doPay()'>{{'Proceed to pay'|translate}}</button>
				</div>

				<br/>

			</div>
		</ion-list>



	</ion-content>
</ion-view>