<ion-modal-view style="background-color:black">
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">{{'Payment'|translate}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closePayment()">{{'Close'|translate}}</button>
    </div>
  </ion-header-bar>
  <ion-content>
	  <button id="buyNowBtn" ng-click="ProceedPayment()"> Buy Now !</button>
                <button id="buyInFutureBtn"> Pay in Future !</button>
                <button id="profileSharingBtn"> Profile Sharing !</button>
	
  </ion-content>
  </ion-modal-view >
  