
<div class="title-header">
	<div layout="row">
		{{'Personal Center'|translate}}
	</div>
</div>

<div layout="row" >
 <a  class="tab-item top-tab"  >
              <img class="tabimg" ng-click="setActiveTab(0)" src="img/appimages/etong_my_car.png">
              <br/>
             {{'My Car'|translate}}
        </a>
        <a  class="tab-item top-tab"ng-click="setActiveTab(1)">

            <img class="tabimg" src="img/appimages/etong_distance_travel.png"> <br/> {{'Trip'|translate}}
        </a>
        <a  class="tab-item top-tab">
            <img class="tabimg" src="img/appimages/etong_individual_centerlv.png"> <br/> {{'Personal Center'|translate}}
        </a>
        <a  ng-click="setActiveTab(3)"  class="tab-item top-tab">
            <img class="tabimg" src="img/appimages/etong_set_center.png">  <br/>{{'Settings'|translate}}
        </a>
</div>
<div style="background-color:black"  class="full-scroll-rest" >
  <ion-list>

 <!-- <div class="item item-divider listpadding">Device and Driver</div>-->
  <div class="item  item-avatar girdbacksub-list item-icon-right"  ng-click="ShowDeviceInfoOpen()">
    <img src="img/appimages/etong_personal_chepaihao.png">
    <div class=" dashboadlisttext">
	<div class="row mygrid">
		<div class="col col-30 mygrid">	{{'Vechine_info'|translate}} : </div>
		<div class="col col-70 mygrid">	{{SelectedDevice.DeviceName}} </div>
	</div>
 </div>
  <i class="icon ion-chevron-right" style="color:white"></i>
  </div>
  <!-- ui-sref="app.driver-info"-->
<div class="item  item-avatar girdbacksub-list item-icon-right" ng-click="showDriverInfoModal()">
    <img src="img/appimages/etong_personal_chepaihao.png">
    <div class=" dashboadlisttext">
	<div class="row mygrid">
		<div class="col col-30 mygrid">	{{'Driver info'|translate}} : </div>
		<div class="col col-70 mygrid">	{{SelectedDevice.JSONData.DriverInfo.name}}</div>
	</div>
 
	</div>
<i class="icon ion-chevron-right" style="color:white"></i>
  </div>
   <!--<div class="item item-divider listpadding">Reminders</div>--><br/>
<!-- ui-sref="app.custom-reminder"-->
  <div class="item  item-avatar girdbacksub-list item-icon-right" ng-click="showCustomReminder()">
    <img src="img/appimages/etong_set_dingzhi.png">
    <div class=" dashboadlisttext">{{'Customized reminder'|translate}} </div>
<i class="icon ion-chevron-right" style="color:white"></i>
  </div>
  <!-- ui-sref="app.management-reminder"-->
  <div class="item  item-avatar girdbacksub-list item-icon-right" ng-click="showManagementReminder()">
    <img src="img/appimages/etong_set_dingzhi.png">
    <div class=" dashboadlisttext">{{'Management reminder'|translate}} </div>
<i class="icon ion-chevron-right" style="color:white"></i>
  </div>
 <!--<div class="item item-divider listpadding">Alerts</div>--><br/>



  <a class="item  item-avatar girdbacksub-list item-icon-right" ng-click="showPackageUpgrademessage()">
    <img src="img/appimages/etong_personal_violation.png">
    <div class=" dashboadlisttext">{{'Electronic fence'|translate}} </div>
 <i class="icon ion-android-lock lock-icon"></i>
  </a>
<a class="item  item-avatar girdbacksub-list item-icon-right" ng-click="showPackageUpgrademessage()">
    <img src="img/appimages/etong_personal_violation.png">
    <div class=" dashboadlisttext">{{'Speeding'|translate}} </div>
<i class="icon ion-android-lock lock-icon"></i>
  </a>
  <a class="item  item-avatar girdbacksub-list item-icon-right" ng-click="showPackageUpgrademessage()">
    <img src="img/appimages/etong_personal_violation.png">
    <div class=" dashboadlisttext">{{'Ideling'|translate}} </div>
<i class="icon ion-android-lock lock-icon"></i>
  </a>
  <a class="item  item-avatar girdbacksub-list item-icon-right" ng-click="showPackageUpgrademessage()">
    <img src="img/appimages/etong_personal_violation.png">
    <div class=" dashboadlisttext">{{'Business and private usage'|translate}} </div>
<i class="icon ion-android-lock lock-icon"></i>
  </a>
  <!--<div class="item item-divider listpadding">Features</div>--><br/>
  
  <!-- <a class="item  item-avatar girdbacksub-list item-icon-right" ng-click="showPackageUpgrademessage()">
    <img src="img/appimages/etong_personal_violation.png">
    <div class=" dashboadlisttext">{{'Reports'|translate}}</div>
<i class="icon ion-android-lock lock-icon"></i>
  </a> -->
  <a class="item  item-avatar girdbacksub-list item-icon-right" ng-click="openGeneratedModel()">
    <img src="img/appimages/etong_personal_violation.png">
    <div class=" dashboadlisttext">{{'Reports'|translate}}</div>
<i class="icon ion-android-lock lock-icon"></i>
  </a>
  <a class="item  item-avatar girdbacksub-list item-icon-right" ng-click="showPackageUpgrademessage()">
    <img src="img/appimages/etong_personal_violation.png">
    <div class=" dashboadlisttext">{{'POIs'|translate}}</div>
	<i class="icon ion-android-lock lock-icon"></i>

  </a>
  <a class="item  item-avatar girdbacksub-list item-icon-right" ng-click="showPackageUpgrademessage()">
    <img src="img/appimages/etong_personal_violation.png">
    <div class=" dashboadlisttext">{{'Email notification'|translate}}</div>
	<i class="icon ion-android-lock lock-icon" style="color:white"></i>
  </a>

  <!--app.license-->
  <a class="item  item-avatar girdbacksub-list item-icon-right" ng-click="loadPaymentController()">
    <img src="img/appimages/etong_personal_servicecharge.png">
    <div class=" dashboadlisttext">{{'License renewal'|translate}}</div>
<i class="icon ion-chevron-right" style="color:white"></i>
  </a>

</ion-list>

            <!--<div class="card ink-dark" style="padding:0px">
                <div class="item  item-avatar ">
                    <span class="avatar" style="background-image: url('');"></span>
                    <strong>license plate number: </strong> WIVA22.
                   
                </div>
            </div>
             <div class="card stable-bg ink ink-dark">
                <div class="item item-avatar ">
                    <span class="avatar" style="background-image: url('img/appimages/etong_personal_chepaihao.png');"></span>
                    <strong>license plate number: </strong> WIVA22.
                   
                </div>
            </div>
-->
      
   

           <!--
 
           <div class="button-bar social-login" >
            <div class="tabs tabs-dark tabs-icon-top static">
                    <a ui-sref="app.root" class="tab-item">
                        
                        <img class="tabimg" src="img/appimages/etong_my_car.png">
                        <br/>
                        {{'My Car'|translate}}
                    </a>
                    <a  class="tab-item" ui-sref="app.trip">

                        <img class="tabimg" src="img/appimages/etong_distance_travel.png"> <br/> {{'Trip'|translate}}
                    </a>
                    <a  class="tab-item">
                        <img class="tabimg" src="img/appimages/etong_individual_centerlv.png"> <br/> {{'Personal Center'|translate}}
                    </a>
                    <a  class="tab-item"  ui-sref="app.settings">
                        <img class="tabimg" src="img/appimages/etong_set_center.png">  <br/>{{'Settings'|translate}}
                    </a>
                </div>
            </div> 
             -->

