<!--<ion-view view-title="{{'My Car'|translate}}" style="background-image: url('img/profile-bg.jpg');" >-->


<div class="title-header">
    <div layout="row">
        {{'My Car'|translate}}
    </div>
</div>

<div layout="row ">
    <a class="tab-item top-tab">
        <img class="tabimg" src="img/appimages/etong_my_carlv.png">
        <br/>
        {{'My Car'|translate}}
    </a>
    <a ng-click="setActiveTab(1);loadTripLocalData()" class="tab-item top-tab">

        <img class="tabimg" src="img/appimages/etong_distance_travel.png"> <br/> {{'Trip'|translate}}
    </a>
    <a ng-click="setActiveTab(2)" class="tab-item top-tab">
        <img class="tabimg" src="img/appimages/etong_individual_center.png"> <br/> {{'Personal Center'|translate}}
    </a>
    <a ng-click="setActiveTab(3)" class="tab-item top-tab">
        <img class="tabimg" src="img/appimages/etong_set_center.png"> <br/>{{'Settings'|translate}}
    </a>
</div>
<div style="background-color:black" class="full-scroll-rest">
    <div class="hero">


        <div class="cardiagnosticheader row">
            <div class="col col-40 score">
                <div class="left-image-text">{{SelectedDevice.DeviceName}}</div>
            </div>
            <!--<div class="col col-20 scorecircleimg" ng-show="SelectedDevice.GPSDeviceTypeId==1">-->
            <!--<div class="scorecircleimgtext">{{TotalHealthDataFound}}</div>-->
            <!--</div>-->
            <div class="col col-20">
            </div>
            <div class="col col-40 rightimage" ng-click="ShowHealthCheckOpen()"
                 ng-show="SelectedDevice.GPSDeviceTypeId==1">
                <div class="rightimagetext">{{'Check'|translate}}</div>
            </div>
        </div>
        <div class="row radialtop">
            <div class="col col-20 mygrid">
                <div class="row">
                    <i class="icon ion-battery-full active-flag"
                       ng-if="SelectedDevice.Backup_Battery_Percentage>90"></i>
                    <i class="icon ion-battery-half active-flag"
                       ng-if="SelectedDevice.Backup_Battery_Percentage>=50 && SelectedDevice.Backup_Battery_Percentage<=90"></i>
                    <i class="icon ion-battery-low active-flag"
                       ng-if="SelectedDevice.Backup_Battery_Percentage>=25 && SelectedDevice.Backup_Battery_Percentage<50"></i>
                    <i class="icon ion-battery-empty inactive-flag"
                       ng-if="SelectedDevice.Backup_Battery_Percentage<25"></i>
                    <div class="battery-per">{{SelectedDevice.Backup_Battery_Percentage}}%</div>

                </div>
                <div ng-repeat="item in lastInfo|filter:{ParameterID:133}|limitTo:1">

                    <img src="img/ignition on.png" class="ignition-on-off" ng-show="item.Value==1">
                    <img src="img/ignition off.png" class="ignition-on-off" ng-hide="item.Value==1">

                </div>

            </div>
            <div class="col col-60 radialtopcenterimage">
                <div class="radialcentertext">
                    <span ng-repeat="item in lastInfo|filter:{ParameterID:19}|limitTo:1">{{item.Value}}</span> km

                </div>
            </div>
            <div class="col col-20" style="text-align:right">
                <div class="row" style="text-align:right">
                    <img src="img/appimages/etong_mycar_xiaoxi01.png" class="alert-messages-img" ng-click="loadAlertController($event)">
                    <div class="notification-badge" ng-if="myAlertMessagesCount.TotalCount>0">
                        {{myAlertMessagesCount.TotalCount}}
                    </div>
                </div>
            </div>
        </div>
        <div id="gauge-container" class="hidden-on-narrow">
            <div id="rpm"></div>
            <div id="kmh"></div>
            <div id="fuel"></div>
            <div id="water-temprature"></div>


        </div>
        <div class="list standard-border">

            <a ng-click="launchNavigator()" data-rel="external"
               class="item item-avatar item-icon-right location-header">
                <img class="location-start-image" src="img/appimages/etong_mycar_dingweibiao.png">
                <div class="location-text">
                    <div ng-repeat="item in lastInfo|filter:{ParameterID:13}|limitTo:1">{{item.Value| date:'MMM dd yyyy hh:mm a'}}
                    </div>

                </div>
                <div class="location-text-name wrapping-list">
                    <div ng-repeat="item in lastInfo|filter:{ParameterID:200}">{{item.Value}}</div>
                </div>
                <i class="icon ion-chevron-right location-text-name"></i>
            </a>

        </div>

    </div>


    <ion-list>
        <div class="list standard-border">
            <div class="item item-avatar my-list">
                <img src="img/appimages/etong_mycar_pingjunyouhao.png">
                <div class="row" style="padding:0px;margin:0px">

                    <div class="col col-60 dashboadlistheading mygrid">{{'Avg oil consume'|translate}}</div>
                    <div class="col col-35 dashboad-reading mygrid">
                        <div ng-repeat="item in lastInfo|filter:{ParameterID:211}|limitTo:1">{{item.Value|number : 2}}
                        </div>
                    </div>
                    <div class="col col-5 root-reading-unit mygrid">l/100km</div>
                </div>

            </div>
            <div class="item item-avatar my-list">
                <img src="img/appimages/etong_mycar_jiashicishu.png">
                <div class="row" style="padding:0px;margin:0px">

                    <div class="col col-60 dashboadlistheading mygrid">{{'Number driving'|translate}}</div>
                    <div class="col col-35 dashboad-reading mygrid">{{myTrips.TotalNoOfTrips| number:0}}</div>
                    <div class="col col-5 root-reading-unit mygrid">times</div>
                </div>

            </div>
            <div class="item item-avatar my-list">
                <img src="img/appimages/etong_mycar_xiacibaoyang.png">

                <div class="row" style="padding:0px;margin:0px">

                    <div class="col col-60 dashboadlistheading mygrid">{{'Next maintenance '|translate}}</div>
                    <div class="col col-35 dashboad-reading mygrid">
                        {{SelectedDevice.JSONData.deviceInfo.nextMentReading}}
                    </div>
                    <div class="col col-5 root-reading-unit mygrid">km</div>
                </div>
            </div>
        </div>


    </ion-list>


</div>

<!--	
   <div class="tabs tabs-dark tabs-icon-top">
         <a  class="tab-item" ui-sref="app.signup" >
            
              <img class="tabimg" src="img/appimages/etong_my_carlv.png">
              <br/>
             {{'My Car'|translate}}
        </a>
        <a ui-sref="app.trip" class="tab-item">

            <img class="tabimg" src="img/appimages/etong_distance_travel.png"> <br/> {{'Trip'|translate}}
        </a>
        <a ui-sref="app.personal-center" class="tab-item">
            <img class="tabimg" src="img/appimages/etong_individual_center.png"> <br/> {{'Personal Center'|translate}}
        </a>
        <a ui-sref="app.settings" class="tab-item">
            <img class="tabimg" src="img/appimages/etong_set_center.png">  <br/>{{'Settings'|translate}}
        </a>
      </div>

-->