
<div class="title-header">
	<div layout="row">
		{{'Settings'|translate}}
	</div>
</div>

<div layout="row" >
 <a  class="tab-item top-tab"  >
              <img class="tabimg" ng-click="setActiveTab(0)" src="img/appimages/etong_my_car.png">
              <br/>
             {{'My Car'|translate}}
        </a>
        <a  class="tab-item top-tab"ng-click="setActiveTab(1)">

            <img class="tabimg" src="img/appimages/etong_distance_travel.png"> <br/> {{'Trip'|translate}}
        </a>
        <a  class="tab-item top-tab" ng-click="setActiveTab(2)">
            <img class="tabimg" src="img/appimages/etong_individual_center.png"> <br/> {{'Personal Center'|translate}}
        </a>
        <a    class="tab-item top-tab">
            <img class="tabimg" src="img/appimages/etong_set_centerlv.png">  <br/>{{'Settings'|translate}}
        </a>
</div>
<div style="background-color:black"  class="full-scroll-rest" >   
<ion-list>


<a class="item   item-avatar girdbacksub-list item-icon-right" ng-click='showAccountInfo()'>
    <img src="img/appimages/etong_resetpassword_xinmima.png">
    <div class=" dashboadlisttext">{{'Account Information'|translate}}</div>
   <i class="icon ion-chevron-right" style="color:white"></i>
  </a>
  <a class="item   item-avatar girdbacksub-list item-icon-right" ng-click='showPassword()'>
    <img src="img/appimages/etong_resetpassword_xinmima.png">
    <div class=" dashboadlisttext">{{'Change the password'|translate}}</div>
   <i class="icon ion-chevron-right" style="color:white"></i>
  </a>
  <a class="item   item-avatar girdbacksub-list item-icon-right" ng-click='showMapSettings()'>
    <img src="img/appimages/etong_qitamark2.png">
    <div class=" dashboadlisttext">{{'Map Settings'|translate}}</div>
   <i class="icon ion-chevron-right" style="color:white"></i>
  </a>
  <div class="item  item-avatar girdbacksub-list item-icon-right" ng-click="showPackageUpgrademessage()">
  <img src="img/appimages/etong_listeren_set.png">
    <div class=" dashboadlisttext">{{'Activity log'|translate}}</div>
    <i class="icon ion-android-lock lock-icon"></i>
  </div>

</ion-list>
<br/>
<ion-list>
<!--
  <a class="item  item-avatar girdbacksub-list" href="#">
    <img src="img/appimages/etong_update_mileage.png">
    <div class=" dashboadlisttext">Modification of mileage</div>
    
  </a>
-->
  <div class="item   item-avatar girdbacksub-list item-icon-right" ng-click="showIntro()" >
    <img src="img/appimages/etong_set_yijian.png">
    <div class=" dashboadlisttext">{{'Feedback'|translate}}</div>
   <i class="icon ion-chevron-right" style="color:white"></i>
  </div>

  <div class="item  item-avatar girdbacksub-list item-icon-right" ng-click="showAboutUsModal()">
  <img src="img/appimages/etong_set_guanyu.png">
    <div class=" dashboadlisttext">{{'About us'|translate}}</div>
   <i class="icon ion-chevron-right" style="color:white"></i>
  </div>
<!--
  <a class="item  item-avatar girdbacksub-list item-icon-right">
  <img src="img/appimages/etong_set_guanyu.png">
    <div class=" dashboadlisttext">{{'Help'|translate}}</div>
   <i class="icon ion-chevron-right" style="color:white"></i>
  </a>-->
  <a class="item   item-avatar girdbacksub-list item-icon-right" ng-click="closeApp()">
    <img src="img/appimages/etong_set_tuichu.png">
    <div class=" dashboadlisttext">{{'Log out'|translate}}</div>
   <i class="icon ion-chevron-right" style="color:white"></i>
  </a>
</ion-list>


    </div>
    
 