
<ion-view style="background-color:black">
<ion-header-bar align-title="left" class="bar-dark">
  
	
   <h1 class="title">{{'Registration Form'|translate}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="signupClose()">Close</button>
    </div>
</ion-header-bar>
 <ion-content class="padding" scroll="false">
       
        <form name="registrationInfo" novalidate="" ng-submit="UpdateData(registrationInfo)"> 
         
          <div class="list">
     
            <label class="item item-input" ng-class="{ 'has-errors' : registrationInfo.regno.$invalid, 'no-errors' : registrationInfo.regno.$valid}">
              <span class="input-label">{{'NAME'|translate}}: <span class="star-color">*</span></span>
              <input style="color:white"  type="text" name="name" ng-model="registration.username"  required >
            </label>
            <label class="item item-input" >
              <span class="input-label">{{'EMAIL'|translate}}:<span class="star-color">*</span></span>
              <input style="color:white"  type="email" name="id" ng-model="registration.email"  required>
            </label>
                      
		 
			<!-- <label class="item item-input " >
              <span class="input-label">{{'DEVICE_NO'|translate}}.: <span class="star-color">*</span></span>
			  <div class="row" style="margin:0px;padding:0px;">
			  <div class="col col-10"  style="margin:0px;padding:0px;">
					<button  ng-click="scanBarcode()" class="scan-button">{{'SCAN'|translate}}</button>
				</div>
				<div class="col col-90" style="margin:0px;padding:0px;"> 
					<input style="color:white"  type="text" name="linctype" ng-model="registration.deviceNo"  required 
>				</div>
				
			  </div>
             
			  
            </label>-->
			
            <label class="item item-input" >
             
              <button  ng-click="scanBarcode()" class="scan-button-add">{{'Click to Scan Device'|translate}}</button>
            </label>
			 <label class="item item-input" >
              <span class="input-label">{{'DEVICE_NO'|translate}}.: <span class="star-color">*</span></span>
             <input style="color:white"  type="text"  ng-model="registration.deviceNo"  required>
            </label>
			 <label class="item item-input" >
              <span class="input-label">{{'Registration No'|translate}}.: <span class="star-color">*</span></span>
             <input style="color:white"  type="text"  ng-model="registration.deviceName"  required>
            </label>
			
			 <label class="item item-input" >
              <span class="input-label">{{'User Name'|translate}}:<span class="star-color">*</span></span>
              <input style="color:white"  type="text" name="linceno" ng-model="registration.userid"  required >
            </label>
			
			<label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.password.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.password.$valid  && authorizationForm.$submitted}">
          <span class="input-label">{{'PASSWORD'|translate}}:<span class="star-color">*</span></span>
              <input style="color:white" type="password" name="password" ng-model="registration.password"   required>
            </label>
		
            <label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.password.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.password.$valid  && authorizationForm.$submitted}">
             <span class="input-label">{{'CONFIRM'|translate}}:<span class="star-color">*</span></span>
              <input style="color:white" type="password" name="Cpassword" ng-model="registration.confirmpassword"   required >
            </label>

            <div class="error-container last-error-container" ng-show="registrationInfo.password.$error && registrationInfo.$submitted" ng-messages="registrationInfo.password.$error">
                <div ng-messages-include="error-list.html"></div> 
            </div>          
             
          </div>     
           
          <button class="button button-full submit-button"  ng-click="signUp()">
           {{'SUBMIT'|translate}}
          </button>
             
        </form>   
         
      </ion-content>
</ion-view>
