<ion-modal-view style="background-color:black">
  <ion-header-bar class="bar bar-header bar-dark">

    <h1 class="title">{{'Driving habits Analysis'|translate}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="CloseDrivingAnalysisModel()">{{'Close'|translate}}</button>
    </div>
  </ion-header-bar>

  <ion-content>
<br/>
	<div class="list standard-border">
    <ion-list class="trip-data-list">
		
        <div class="item trip-list" ng-repeat="item in thisTripData.driverbehaviour|orderBy:EventName">
           <div class="trip-readings ">
		     <div class="row mygrid">
					<div class="col col-70 mygrid">{{item.EventName}}: </div>
					<div class="col col-30 mygrid">{{item.Count}}	</div>
			</div>
		   </div>
        </div>
		
         
        </div>
		
		</ion-list>
</div>
  </ion-content>
  </ion-modal-view >
  