<div class="title-header">
	<div layout="row">
		{{'Trip'|translate}}
	</div>
</div>

<div layout="row" >
 <a  class="tab-item top-tab"  >
              <img class="tabimg" ng-click="setActiveTab(0)" src="img/appimages/etong_my_car.png">
              <br/>
             {{'My Car'|translate}}
        </a>
        <a  class="tab-item top-tab">

            <img class="tabimg" src="img/appimages/etong_distance_travellv.png"> <br/> {{'Trip'|translate}}
        </a>
        <a  ng-click="setActiveTab(2)" class="tab-item top-tab">
            <img class="tabimg" src="img/appimages/etong_individual_center.png"> <br/> {{'Personal Center'|translate}}
        </a>
        <a  ng-click="setActiveTab(3)"  class="tab-item top-tab">
            <img class="tabimg" src="img/appimages/etong_set_center.png">  <br/>{{'Settings'|translate}}
        </a>
</div>
<div style="background-color:black"  class="full-scroll-rest" >
        <div class="girdback">
         <div class="row trip-first-row"  >
                  <div class="col col-50 "> 
                    <div class="row" >
                    <div class="col-30">
                        <img class="trip-images" src="img/appimages/etong_travel_count_dates.png">
                    </div>
                    <div class="col">
                        <div class="row trip-text">{{'Travel Time'|translate}}</div>
                        <div class="row trip-heading"><div ng-repeat="item in lastInfo|filter:{ParameterID:20}|limitTo:1">{{changeTotalTime(item.Value)}}</div>&nbsp;hr</div>
                    </div>
                    </div>
                </div>

                <div class="col col-50 ">
                     <div class="row" >
                    <div class="col-30">
                        <img class="trip-images" src="img/appimages/etong_travel_count_mil.png">
                    </div>
                    <div class="col">
                        <div class="row trip-text">{{'Total mileage'|translate}}</div>
                        <div class="row trip-heading-mileage"><div ng-repeat="item in lastInfo|filter:{ParameterID:19}|limitTo:1">{{item.Value}}</div> &nbsp;km</div>
                    </div>
                    </div>
                </div>
                
            </div>
            <div class="row " >
                <!--<div class="col col-50"  > 
                    <div class="row"  >
					<div class="col-30">
						<div class="col" >
							<img class="trip-images"  src="img/appimages/etong_travel_driver_times.png">
						</div>
					</div>
                    <div class="col" >
                        <div class="row trip-text" >{{'Total Trips'|translate}}</div>
                        <div class="row trip-heading-no">{{myTrips.TotalNoOfTrips| number:0}}</div>
                    </div>
                    </div>
                </div>
-->
			<div class="col col-50 " >
                     <div class="row"  >
                    <div class="col-30" >
                        <img class="trip-images"  src="img/appimages/etong_travel_driver_times.png">
                    </div>
                    <div class="col" >
                        <div class="row trip-text">{{'Total Trips'|translate}}</div>
                        <div class="row trip-heading-no">{{myTrips.TotalNoOfTrips| number:0}}</div>
                    </div>
                    </div>
                </div>
                <div class="col col-50 " >
                     <div class="row"  >
                    <div class="col-30" >
                        <img class="trip-images"  src="img/appimages/etong_travel_count_oile.png">
                    </div>
                    <div class="col" >
                        <div class="row trip-text">{{'Total Fuel'|translate}}</div>
                        <div class="row trip-heading-fule">{{myTrips.TotalFuleConsume|number : 2}} &nbsp;l</div>
                    </div>
                    </div>
                </div>
                
            </div>
        </div>
		<div class="row  ">
		<div class="col col-50 mygrid">
		  <button class="button button-full Trip-button"  ng-style="!selectedMenuTrip&& {'background-color':'#FFC000'}" ng-click="selectedMenuTrip=false">
           {{'Trip'|translate}}
          </button>
		  </div>
		  	<div class="col col-50 mygrid">
		    <button class="button button-full Trip-button"   ng-style="selectedMenuTrip && {'background-color':'#FFC000'}" ng-click="selectedMenuTrip=true;ChangeTripByDate(tripFor)">
           {{'History'|translate}}
          </button>
		  </div>
		</div>
      <ion-list>
	  <div class="list standard-border" ng-hide="selectedMenuTrip">
        <div ng-repeat="group in myTrips.value|orderBy:'-dated'">
          <ion-item class="item-stable backgroundtab trip-text"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon trip-text" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
            &nbsp;
            <span class="trip-text gridline"> {{group.dated|date:'EEEE, MMM dd yyyy'}}</span>
			
          </ion-item>
          <ion-item class="item-accordion girdbacksub gridline"
                    ng-repeat="item in group.trips"
                    ng-show="isGroupShown(group)" >
             <div class="trip-text gridline">
			 <div class="row mygrid" ng-click="ShowTripData(item)">
			 <div class="col col-20 mygrid">
			    <img src="img/appimages/etong_travel_over_single_car01.png" class="trip-image">
			 </div>	
			 <div class="col col-75 mygrid" >
				<div class="row mygrid">
					<div class="col col-30 trip-time mygrid"> {{item.Start|date:'hh:mm a'}}</div>
					<div class="col col-40 mygrid"><img src="img/appimages/etong_travel_over_single_jiantou.png" > </div>
					<div class="col col-30 trip-time mygrid"> {{item.End|date:'hh:mm a'}}</div>
				</div>
					<div class="row ">
					<div class="col col-10 mygrid">  <img src="img/appimages/etong_travel_over_single_biao_01.png" class=" trip-detail-image"></div>
					<div class="col col-40 mygrid trip-time2"> {{item.TravelDistance}} km</div>
					<div class="col col-10 mygrid">  <img src="img/appimages/etong_travel_over_single_biao_02.png" class=" trip-detail-image"></div>
					<div class="col col-40 mygrid trip-time2"> {{item.FuleConsume|number:2}} l</div>
				</div>
			 </div>
			  <div class="col col-5 mygrid">
			    <img src="img/appimages/etong_travel_sinagle_triavel_biao.png" >
			 </div>	
			 </div>
			 
			</div>	
          </ion-item>
        </div>
</div>     
		<div ng-show="selectedMenuTrip">
		 <label class="item item-input" >
              <span class="input-label">{{'Select Date'|translate}} :</span>
              <input  style="color:white"  type="date"  ng-model="tripFor" ng-change="ChangeTripByDate(tripFor)" >
			
            </label>
			<div ng-show="playBack">
			<a ng-click="showPath()" class="item trip-data-header">
		 <div class="row mygrid">
			<div class="col col-15 mygrid"> <img class="trip-data-image-loc" src="img/appimages/etong_driver_data_car_biao.png"></div>
			<div class="col col-80 trip-data-location-text mygrid">{{'Check the travel path'|translate}}</div>
			<div class="col col-5 trip-data-location-text mygrid">   <i class="icon ion-chevron-right location-text-name"></i></div>
		 </div>
                   
             
         
        </a>
			<div class="item trip-list">
           <div class="trip-readings">
		   <div class="row mygrid">
					<div class="col col-30 mygrid"> {{'Distance'|translate}}: </div>
					<div class="col col-70 mygrid">	{{playBack.TotalMilage}} km </div>
				</div>
		 </div>
        </div>
		<div class="item trip-list">
           <div class="trip-readings">	   <div class="row mygrid">
					<div class="col col-30 mygrid">{{'Max. RPM'|translate}}: </div>
					<div class="col col-70 mygrid">	 {{playBack.MaxRPM}}  </div>
				</div> </div>
        </div>
		
		<div class="item trip-list">
           <div class="trip-readings">	   <div class="row mygrid">
					<div class="col col-30 mygrid">{{'Max. speed'|translate}}: </div>
					<div class="col col-70 mygrid">{{playBack.MaxSpeed}} km/h</div>
				</div>
				</div>
        </div>
		<!--<div class="item trip-list">
           <div class="trip-readings">	   <div class="row mygrid">
					<div class="col col-30 mygrid">{{'Avg. speed'|translate}}: </div>
					<div class="col col-70 mygrid">	{{playBack.AvgSpeed}} km/h</div>
				</div>
				</div>
        </div>-->
		<ion-list class="trip-data-list">
		 <a ng-click="ShowDrivingAnalysisModel(item)" class="item trip-data-header">
		 <div class="row mygrid">
	
			<div class="col col-80 trip-data-location-text mygrid trip-driving" >{{'Driving habits analysis'|translate}}</div>
			<div class="col col-5 trip-data-location-text mygrid">   <i class="icon ion-chevron-right location-text-name"></i></div>
		 </div>
                   
             
         
        </a>	
<br/>		<br/><br/>
	 </ion-list>
	 
	 </div>
			
		<!--	<div ng-repeat="group in myTripsForDay.value|orderBy:'-dated'">
          <ion-item class="item-stable backgroundtab trip-text"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon trip-text" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
            &nbsp;
            <span class="trip-text gridline"> {{group.dated|date:'EEEE, MMM dd yyyy'}}</span>
			
          </ion-item>
          <ion-item class="item-accordion girdbacksub gridline"
                    ng-repeat="item in group.trips"
                    ng-show="isGroupShown(group)" >
             <div class="trip-text gridline">
			 <div class="row mygrid" ng-click="ShowTripData(item)">
			 <div class="col col-20 mygrid">
			    <img src="img/appimages/etong_travel_over_single_car01.png" class="trip-image">
			 </div>	
			 <div class="col col-75 mygrid" >
				<div class="row mygrid">
					<div class="col col-30 trip-time mygrid"> {{item.Start|date:'hh:mm a'}}</div>
					<div class="col col-40 mygrid"><img src="img/appimages/etong_travel_over_single_jiantou.png" > </div>
					<div class="col col-30 trip-time mygrid"> {{item.End|date:'hh:mm a'}}</div>
				</div>
					<div class="row ">
					<div class="col col-10 mygrid">  <img src="img/appimages/etong_travel_over_single_biao_01.png" class=" trip-detail-image"></div>
					<div class="col col-40 mygrid trip-time2"> {{item.TravelDistance}} km</div>
					<div class="col col-10 mygrid">  <img src="img/appimages/etong_travel_over_single_biao_02.png" class=" trip-detail-image"></div>
					<div class="col col-40 mygrid trip-time2"> {{item.FuleConsume}} l</div>
				</div>
			 </div>
			  <div class="col col-5 mygrid">
			    <img src="img/appimages/etong_travel_sinagle_triavel_biao.png" >
			 </div>	
			 </div>
			 
			</div>	
          </ion-item>
        </div>-->
		
		</div>
		<br/><br/><br/><br/>
	</ion-list>
  
 </div>

      
 
     
 <!--
         <div class="button-bar social-login" >
 <div class="tabs tabs-dark tabs-icon-top static">
        <a ui-sref="app.root" class="tab-item">
            
              <img class="tabimg" src="img/appimages/etong_my_car.png">
              <br/>
             {{'My Car'|translate}}
        </a>
        <a  class="tab-item">

            <img class="tabimg" src="img/appimages/etong_distance_travellv.png"> <br/> {{'Trip'|translate}}
        </a>
        <a ui-sref="app.personal-center" class="tab-item">
            <img class="tabimg" src="img/appimages/etong_individual_center.png"> <br/> {{'Personal Center'|translate}}
        </a>
        <a ui-sref="app.settings" class="tab-item">
            <img class="tabimg" src="img/appimages/etong_set_center.png">  <br/>{{'Settings'|translate}}
        </a>
    </div>
</div>

-->