<ion-modal-view style="background-color:black">
  <ion-header-bar class="bar bar-header bar-dark">

    <h1 class="title">{{'Trip Data'|translate}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="CloseTripData()">{{'Close'|translate}}</button>
    </div>
  </ion-header-bar>

  <ion-content>
     <div class="trip-data-headerback row">
            <div class="col col-40 ">
                 <div class=" trip-data-headerTime-Text">{{'Starting Time'|translate}}</div>
                 <div class=" trip-data-headerTime-Date">{{selectedMember.Start|date:'MMM dd yyyy'}}</div>
				  <div class=" trip-data-headerTime-Date">{{selectedMember.Start|date:'hh:mm a'}}</div>
				 
            </div>
            <div class="col col-20 trip-data-centerimage">
              
            </div>
             <div class="col col-40  ">
				<div class="trip-data-headerTime-Text right-align">{{'Ending Time'|translate}}</div>
                 <div class="trip-data-headerTime-Date right-align">{{selectedMember.End|date:'MMM dd yyyy'}}</div>
				 <div class="trip-data-headerTime-Date right-align">{{selectedMember.End|date:'hh:mm a'}}</div>
            </div>
        </div>
		
		<br/>
<div class="list standard-border">
    <ion-list class="trip-data-list">
	
		 <a ng-click="showPath()" class="item trip-data-header">
		 <div class="row mygrid">
			<div class="col col-15 mygrid"> <img class="trip-data-image-loc" src="img/appimages/etong_driver_data_car_biao.png"></div>
			<div class="col col-80 trip-data-location-text mygrid">{{'Check the travel path'|translate}}</div>
			<div class="col col-5 trip-data-location-text mygrid">   <i class="icon ion-chevron-right location-text-name"></i></div>
		 </div>
                   
             
         
        </a>
        <div class="item trip-list">
           <div class="trip-readings ">
			   <div class="row mygrid">
					<div class="col col-30 mygrid">	{{'Time'|translate}} : </div>
					<div class="col col-70 mygrid">	{{selectedMember.travelTime}} min </div>
				</div>
		 </div>
        </div>
		<div class="item trip-list">
           <div class="trip-readings">
		   <div class="row mygrid">
					<div class="col col-30 mygrid"> {{'Distance'|translate}}: </div>
					<div class="col col-70 mygrid">	{{selectedMember.TravelDistance}} km </div>
				</div>
		 </div>
        </div>
		<div class="item trip-list">
           <div class="trip-readings">	   <div class="row mygrid">
					<div class="col col-30 mygrid">{{'Total fule usage'|translate}}: </div>
					<div class="col col-70 mygrid">	 {{selectedMember.FuleConsume|number:2}} l</div>
				</div> </div>
        </div>
		<div class="item trip-list">
           <div class="trip-readings">	   <div class="row mygrid">
					<div class="col col-30 mygrid">{{'Fuel consumption'|translate}}: </div>
					<div class="col col-70 mygrid"><div ng-repeat="item in thisTripData.ges|filter:{ParameterID:123}|limitTo:1"> <div ng-if="item.length=''">{{item.Value}} %</div><div ng-if="item.length==0">0 %</div> </div></div>
				</div>
				</div>
        </div>
		<div class="item trip-list">
           <div class="trip-readings">	   <div class="row mygrid">
					<div class="col col-30 mygrid">{{'Avg RPM'|translate}}: </div>
					<div class="col col-70 mygrid"><div ng-repeat="item in thisTripData.ges|filter:{ParameterID:125}|limitTo:1">{{item.Value}} rpm</div>	 </div>
				</div>  </div>
        </div>
		<div class="item trip-list">
           <div class="trip-readings">	   <div class="row mygrid">
					<div class="col col-30 mygrid">{{'Max RPM'|translate}}: </div>
					<div class="col col-70 mygrid"><div ng-repeat="item in thisTripData.ges|filter:{ParameterID:124}|limitTo:1">{{item.Value}}	rpm</div> </div>
				</div></div>
        </div>
		<div class="item trip-list">
           <div class="trip-readings">	   <div class="row mygrid">
					<div class="col col-30 mygrid">{{'Avg. Throttle Position'|translate}}: </div>
					<div class="col col-70 mygrid"><div ng-repeat="item in thisTripData.ges|filter:{ParameterID:127}|limitTo:1">{{item.Value}}</div></div>
				</div></div>
        </div>
		<div class="item trip-list">
           <div class="trip-readings">	   <div class="row mygrid">
					<div class="col col-30 mygrid">{{'Max Throttle Position'|translate}}: </div>
					<div class="col col-70 mygrid"><div ng-repeat="item in thisTripData.ges|filter:{ParameterID:126}|limitTo:1">{{item.Value}}</div></div>
				</div></div>
        </div>
		<div class="item trip-list">
           <div class="trip-readings">	   
		   <div class="row mygrid">
					<div class="col col-30 mygrid">{{'Avg Engine Load'|translate}}: </div>
					<div class="col col-70 mygrid"><div ng-repeat="item in thisTripData.ges|filter:{ParameterID:129}|limitTo:1">{{item.Value}}</div></div>
				</div>
				</div>
				</div>
				<div class="item trip-list">
				 <div class="trip-readings">	   
		   <div class="row mygrid">
					<div class="col col-30 mygrid">{{'Max Engine Load'|translate}}: </div>
					<div class="col col-70 mygrid"><div ng-repeat="item in thisTripData.ges|filter:{ParameterID:128}|limitTo:1">{{item.Value}}</div>	 </div>
				</div>
				</div>
        </div>
		

		
		</ion-list>
		
<br/>
    <ion-list class="trip-data-list">
		 <a ng-click="ShowDrivingAnalysisModel(item)" class="item trip-data-header">
		 <div class="row mygrid">
	
			<div class="col col-80 trip-data-location-text mygrid trip-driving" >{{'Driving habits analysis'|translate}}</div>
			<div class="col col-5 trip-data-location-text mygrid">   <i class="icon ion-chevron-right location-text-name"></i></div>
		 </div>
                   
             
         
        </a>		
	 </ion-list>
</div>
  </ion-content>
  </ion-modal-view >
  